[2021-02-25 13:26] pieper opened #1 "Allow forking?"
Could you [enable forking](https://docs.github.com/en/github/administering-a-repository/managing-the-forking-policy-for-your-repository) so I can experiment with IDC customizations of SliM?

[2021-02-25 19:01] #1 closed, assigned to nobody

[2021-03-11 22:20] igoroctaviano opened #3 "OIDC clients POC"
- Verify if [keycloak](https://www.keycloak.org/) auth client supports auth with Google and Azure OIDC + other protocols, otherwise implement auth flow using [oidc-client](https://github.com/IdentityModel/oidc-client-js).

### Required
- Google OIDC
- Azure OIDC

[2021-03-11 22:24] igoroctaviano opened #4 "Authentication layer"
Currently, the viewer directly interacts with keycloak API, passing props directly to the components.

We need to implement an authentication layer that will abstract authentication-related code. This layer could be a service or a manager that will be used by the whole application. It will provide user profile information.

[2021-03-11 22:27] igoroctaviano opened #5 "Configurable servers"
Currently, the viewer passes dicomweb configuration from the environment variables directly to the app component.

We should create a public viewer configuration that would have server configuration in it that the correct server layer would consume.

The viewer could provide a mechanism to add different DICOM data sources through the same common interface. This way the viewer will interact with me

[2021-03-11 22:31] igoroctaviano opened #6 "Configurable tools"
Currently the viewer has hardcoded tools.

We should provide a service that would load tool definitions and hydrate a tool service that would be responsible to keep track of active tools and could be used by toolbar components in the app.

A tool standardized tool definition will be needed and it would allow the user to configure different flavors of tools by tuning dicom-microscopy-viewer draw op

[2021-03-16 18:40] pieper opened #7 "JPEG 2000 tiles need to work"
Copied from: https://github.com/OHIF/Viewers/issues/2231. Not sure this has been tested in Slim.

This study was converted from SVS by @dclunie and has tiles in jp2k:

https://idc-sandbox-000.firebaseapp.com/projects/idc-tcia/locations/us-central1/datasets/tcia-idc-datareviewcoordination/dicomStores/DICOM_WSI-20210108/study/1.3.6.1.4.1.5962.99.1.3802655970.225997140.1610120457442.3.0

OHIF request

[2021-03-17 08:59] Punzo opened #8 "Widgets for passing blending information to the viewer"
The idea would be to have widgets similar to [link](http://avivator.gehlenborglab.org/?image_url=https://viv-demo.storage.googleapis.com/LuCa-7color_Scan1/):

![image](https://user-images.githubusercontent.com/7985338/98276343-1c94c780-1f96-11eb-813c-0ea5a758cb12.png)

for passing the color functions/blending parameters:

1. visibility
1. color
1. min and max
1. opacity

for each chosen channel (o

[2021-03-24 13:28] Punzo opened #9 "Perfom channel coloring and blending in an offscreen solution"
Original issue https://github.com/OHIF/Viewers/issues/2199

issues is being tracked in https://docs.google.com/document/d/1LM457qPBG1JIlwCDQQOQ1XbRC0Rz9Ea5QmN9aHny1lw/edit?usp=sharing

PR in: MGHComputationalPathology/dicom-microscopy-viewer#47

STATUS: waiting for PR merging.

[2021-03-25 13:40] Punzo opened #10 "Support layouts and multiple views"
to discuss

[2021-03-25 14:17] Punzo opened #11 "Extend dicom-microscopy-viewer API to handle 3D channels"
https://github.com/MGHComputationalPathology/dicom-microscopy-viewer

See point (2) in https://github.com/MGHComputationalPathology/dicom-microscopy-viewer/pull/47

We will handles this as soon as we will have data provided by the HTAN project

[2021-03-25 14:19] Punzo opened #12 "Extend dicom-microscopy-viewer API to use DICOM presentation state"
https://github.com/MGHComputationalPathology/dicom-microscopy-viewer

See point (4) in MGHComputationalPathology/dicom-microscopy-viewer#47:

For each channel/layer we need the following parameters:
A) opticalPathIdentifer (string, used as id of the channel).
B) opacity (float, range [0,1])
C) color (array[3], range [0,255])
D) thresholdValues (array[2], min and max. range [0,255])
E) visibility (

[2021-03-25 14:21] Punzo opened #13 "Extend dicom-microscopy-viewer API to use new Codecs"
https://github.com/MGHComputationalPathology/dicom-microscopy-viewer

See point (5) in MGHComputationalPathology/dicom-microscopy-viewer#47

Waiting Danny finishing this project:
https://github.com/cornerstonejs/codecs

This will be useful also for IDC and dcmjs in general.

Relevant IDC/dcmjs issues:
https://github.com/dcmjs-org/dcmjs/issues/169
https://github.com/OHIF/Viewers/issues/2279

[2021-05-04 12:59] igoroctaviano opened #16 "Themeing configuration"
- Define a consistent color palette.
- Define colors even for things like highlighting when selected.
- The value should probably come from the theme, i.e., craco.config.js.

[2021-05-04 13:00] igoroctaviano opened #17 "Whitelabelling configuration"
- Header needs to be configurable through white-labeling properties e.g. Logo, Title, Description, etc.

[2021-05-04 13:25] igoroctaviano opened #18 "Define code guidelines"
Define guidelines for:
- Styling
- Documentation
- Code
- TypeScript
- Git flow / branching / commits

[2021-05-04 23:05] #18 closed, assigned to nobody

[2021-05-06 13:08] #3 closed, assigned to igoroctaviano

[2021-05-06 13:08] #4 closed, assigned to igoroctaviano

[2021-05-06 13:23] Punzo opened #19 "setup preview for PR"
look into netlify as OIHF viewer

[2021-05-07 13:48] #9 closed, assigned to Punzo

[2021-05-07 13:49] #13 closed, assigned to Punzo

[2021-05-19 16:00] Punzo commented on #19
Igor has done it with firebase, see https://github.com/igoroctaviano/slim/pull/3/checks?check_run_id=2621971527

[2021-05-19 16:37] igoroctaviano commented on #19
Tested Firebase Deploy both for OHIF fork and SLIM:
- OHIF:
  - Preview: https://idc-slim--pr5-test-3wlngske.web.app/
  - PR Pipeline: https://github.com/igoroctaviano/Viewers/pull/5/checks?check_run_id=2622310885
- SLIM:
  - Preview: https://idc-slim--pr3-test-cawctd67.web.app/
  - PR Pipeline: https://github.com/igoroctaviano/slim/pull/3/checks?check_run_id=2621971527

 For projects using Netlif

[2021-05-20 16:58] hackermd commented on #19
@igoroctaviano The Slim preview currently fails for me due to CORS headers.

[2021-05-20 22:30] igoroctaviano commented on #19
@hackermd we decided to go with independent servers? e.g. dcmjs? which server you're using?

[2021-05-20 23:27] pieper commented on #19
Igor can you try the server I emailed about earlier?

https://idc-external-006.uc.r.appspot.com/studies

On Thu, May 20, 2021 at 6:31 PM Igor Octaviano ***@***.***>
wrote:

[2021-05-21 18:00] igoroctaviano commented on #19
@pieper just tested and its working fine. Here: https://idc-slim--pr3-test-cawctd67.web.app/
@hackermd can you use this one then?

[2021-05-21 18:10] pieper commented on #19
Excellent, thanks Igor.

As you play with this let me know if it feels like the proxy slows it down
compared to hitting the dicomweb endpoint directly.

-Steve

On Fri, May 21, 2021 at 2:01 PM Igor Octaviano ***@***.***>
wrote:

[2021-05-26 13:48] hackermd commented on #8
@Punzo as discussed, we want to implement the channel widgets in the right sider of the `SlideViewer` component.

The sider already contains a [Menu](https://ant.design/components/menu/#Menu) with a [Menu.SubMenu](https://ant.design/components/menu/#Menu.SubMenu) for "specimens" and "annotations". Let's add a submenu for "channels". The implementation of the channel list and individual channel ite

[2021-05-26 14:07] hackermd opened #22 "Refactor display of slides in CaseViewer"
Currently, the `CaseViewer` component assumes that each digital slide corresponds to a series (i.e., that there is a one-to-one mapping between series and slides) and consequently lists each series as a separate `SlideItem` in the `SlideList` (note that I already renamed the components with 0a9e43aa4c5f1d6313a9b9336250f29c40a60d9b).

In general, this assumption may not hold, since VL Whole Slide M

[2021-05-26 14:29] hackermd commented on #22
@dclunie could you kindly help us in making the correct assumptions about the relationship of series and imaging target and the grouping of VL Whole Slide Microscopy Image instances that have been acquired for a given physical glass slide.

The standard is not very explicit in this respect, but [Part 3 Section A.32.8.1](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_A.32.8.ht

[2021-05-27 21:23] dclunie commented on #22
﻿﻿﻿ftp://medical.nema.org/medical/dicom/cp/cp2135_01_addAcquisitionEntityAndUID.pdf

[2021-05-27 23:07] VenturaFranklin opened #23 "Difficulty Starting up"
From the base git clone and setting the config for the hackathon:
[code]

after running `yarn start`  I get the error:

craco: *** Cannot find ESLint loader (eslint-loader). ***

It seems that craco 5.8.0 is not compatible with react-scripts > 4

I tried downgrading react-scripts but then that set off a cascade of incompatibilities. So I tried the other way to fix this by upgrading craco to ^6 but

[2021-05-28 17:02] hackermd commented on #23
Thanks for reporting the issue @VenturaFranklin. Running the app with `yarn start` locally has been working fine for me, maybe because of caching. However, I now also noticed the `craco: *** Cannot find ESLint loader (eslint-loader). ***` message when building the package with `yarn build`.

According to https://github.com/DocSpring/craco-less/issues/52, craco 6.0.0 already supports react-scripts

[2021-05-28 19:46] VenturaFranklin commented on #23
I cloned and then checked out that branch.

`npm install --force` get's around the incorrect peer dependency on install.

![image](https://user-images.githubusercontent.com/2513831/120025993-4bac6e00-bfa6-11eb-84be-abd33f36887f.png)

However, `npm start` still has the issue with craco-less

[code]

This was only fixed by uninstalling craco-less and commenting out the craco-less config.

However, `

[2021-05-28 19:52] hackermd commented on #23
Thanks for testing @VenturaFranklin. I hope the issue will soon be resolved with the next release of craco-less.

I am also wondering whether you tried using `yarn start` instead of `npm start`?

[2021-05-31 17:16] Punzo commented on #22
@hackermd please have a look at PR at https://github.com/MGHComputationalPathology/slim/pull/25.

at the moment I still use the following assumptions:
1) RGB images have 1:1 correspondence with series
2) monochorme images (multi channels) there is only one multi channel acquisition per study (which can be over multiple series).

To differenziate between colored and monochorme images, I check the S

[2021-06-01 21:53] hackermd commented on #22
P.S.: We should probably also ensure that all images of an acquisition have the same specimen information (at a minimum the same Container Identifier).

[2021-06-02 07:36] Punzo commented on #22
Ok for me in using Samples instead of Channels.

So I think we have two issues:
1) how to group series into unique acquisitions
2) how to distinguish between RGB images and monochorme images (and understand if the monochorme images is part of a Multiplexed Immunofluorescence datasets).

For (1) I agree with you, the grouping checks that we do in https://github.com/MGHComputationalPathology/slim/bl

[2021-06-02 13:02] hackermd commented on #22
We want to group image **instances** into unique acquisitions, not series. Following the terminology of CP 2135, Series and Acquisition would be considered two different Information Entities. The instances belonging to an individual Acquisition may all be contained within one Series or distributed across multiple Series.

I would argue that all instances of an Acquisition shall share the same Fram

[2021-06-02 13:31] Punzo commented on #22
ok perfect I agree

[2021-06-02 20:35] hackermd commented on #22
@dclunie what are the expectations regarding the uniqueness of an Optical Path Identifier? I realized that they are only guaranteed to be unique within a single image instance (see [Optical Path Sequence and Optical Path Identifier](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.8.12.5.html#sect_C.8.12.5.1.1)) and different instances may use the same identifier for differen

[2021-06-02 20:43] hackermd commented on #22
We may want to introduce a Optical Path UID, which is guaranteed to be unique across image instances

[2021-06-03 14:57] dclunie commented on #22
Sorry for the delayed reply, but I wanted to produce some new samples for you first.

The bottom line is that a common Frame of Reference (FoR) UID is key.

My previous samples that you are using are wrong in this respect (have different FoR UIDs for each channel). I have made some new samples (they are taking forever to upload, so I am posting this in advance of their availability).

Wrt. "Acquis

[2021-06-03 15:33] Punzo commented on #22
Thanks David for the exhaustive explanation and notes. I will wait the new data and then I will update the code for grouping the instances with the keys that you suggested. Thanks again!

[2021-06-03 17:51] hackermd commented on #22
Thanks @dclunie for the clarification and your thoughtful feedback.

I think I then misunderstood the concept of an Acquisition in the context of CyCIF or other iterative immunofluoresence image acquisition techniques. It makes sense to consider each "cycle" a separate Acquisition.

However, it opens the questions how we should refer to the entire collection of images that are acquired as part of

[2021-06-04 03:00] DrexlerChao opened #27 "How to upload WSI DICOM data to slim ?"
Hi Guys,
I try to use docker-compose file to deploy slim on localhost.
After install complete and connect to http://localhost:8008, then the slim show "Request to search for studies failed."
How to fix the issue and upload wsi dcm data to slim ?
Any help will be sincerely appreciate.
Thanks.

[2021-06-04 06:49] DrexlerChao opened #28 "3D Slicer DICOMweb Browser connect to slim error"
Dear Sir,
In order to upload dcm files to slim, I try to use 3D Slicer 4.13.0 DICOMweb Browser to connect slim DICOMweb at http://localhost:8008/dicomweb .
But DICOMweb response the error message "500 Server Error: Internal Server Error for url: http://localhost:8008/dicomweb/studies?offset=0"

How to use the 3D Slicer 4.13.0 DICOMweb Browser to connect slim DICOMweb correctly ?
How to set slim co

[2021-06-04 07:33] Punzo commented on #22
maybe I missed something, from David's comment https://github.com/MGHComputationalPathology/slim/issues/22#issuecomment-853935252, I understood that this **method** would be sufficient:

1) first grouping of **`observations`** (what we currently call `**acquisitions** `in the code, before they were called **`slides`**) by **`FrameofReferenceUID`**: i.e. putting  togheter multi images instances fro

[2021-06-04 11:20] hackermd commented on #27
The DICOMweb endpoint is exposed at http://localhost:8008/dicomweb. One can just store studies in the archive using the [Store transaction of the DICOMweb Studies Service](http://dicom.nema.org/medical/dicom/current/output/chtml/part18/sect_10.5.html). I added a line to the README via 4c48bbe5be1951598a06d7a875709b86ae4d5cdc

[2021-06-04 11:20] #27 closed

[2021-06-04 11:26] hackermd commented on #28
Thanks @DrexlerChao for testing the application and for your feedback. Unfortunately, I don't have any experience in using the 3D Slicer DICOMweb Browser and therefore can't give you any advice in this regard. Maybe @fedorov or @pieper could help?

I would recommend using the [dicomweb-client](https://github.com/MGHComputationalPathology/dicomweb-client) to upload files to the DICOMweb service. Th

[2021-06-04 11:45] hackermd commented on #22
Based on my interpretation of the standard, the values of the Optical Path Identifier attributes may be the same across the different image instances (e.g., all `"1"`).

See [Optical Path Sequence and Optical Path Identifier](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.8.12.5.html#sect_C.8.12.5.1.1):

I would argue that we should assign (or require the application to ass

[2021-06-04 11:53] Punzo commented on #22
1) ok, but I mean is that we can do a first implementation (as soon as I have the new data from David) just using the opticalPathIdentifier. Then we can update the code to use opticalPathUID (when it will be accepted in the standard). So from my point of view everything will be done and then we have just to update few lines to have the ideal solution.

2) ok, now problem, I will update https://git

[2021-06-04 12:17] hackermd commented on #22
Fine with me. We should probably consider using `opticalPathIdentifier` a bug, but we can address this later.

Excellent! Please make sure you also group images by Container Identifier and not just by Frame of Reference UID. In theory, there should not be any images with the same Frame of Reference UID and different Container Identifier, but safety first :)

[2021-06-04 12:29] Punzo commented on #22
yes, perfect!

just a note: not sure where David is uploading the data. Markus, do you have right to copy them on Steve' server (http://34.68.90.36/) for fast dev/testing? or do you have another one to use?

[2021-06-04 18:23] dclunie commented on #22
Updated sample at:

[https://console.cloud.google.com/storage/browser/af-dac-wsi-conversion-results/LUNG-1-LN?project=idc-sandbox-000](https://console.cloud.google.com/storage/browser/af-dac-wsi-conversion-results/LUNG-1-LN?project=idc-sandbox-000)

@pieper, can you replace the version on your server with this one please?

[2021-06-05 19:59] fedorov commented on #22
@dclunie thank you for sharing the updated files!

DICOM store with those is here: `projects/idc-sandbox-000/locations/europe-west6/datasets/htan-dev/dicomStores/LUNG-1-LN-20210604`

For the next time, it would probably be best to do conversion on a VM and copy uncompressed DICOM files to a bucket under the `idc-htan-000` project, to keep HTAN-related development compartmentalized. Google Healthca

[2021-06-07 12:50] Punzo commented on #22
This has been addressed in https://github.com/MGHComputationalPathology/slim/pull/25 and https://github.com/MGHComputationalPathology/dicom-microscopy-viewer/pull/54, Please @hackermd review

[2021-06-07 12:50] Punzo commented on #8
This has been addressed in https://github.com/MGHComputationalPathology/slim/pull/25 and https://github.com/MGHComputationalPathology/dicom-microscopy-viewer/pull/54, Please @hackermd review

[2021-06-07 18:44] pieper commented on #28
@DrexlerChao - 3D Slicer's dicomweb implementation should be able to work with the same back end as Slim, so let us know if you ran into any troubles.  Of course Slicer doesn't have much support that is specific to WSI, so it won't understand pyramids or anything, but loading images and applying filters should work fine.

[2021-06-08 01:33] DrexlerChao commented on #28
Thanks @hackermd for suggestion.
I use dicomweb-client to upload dcm file, but the slim response error message as follow,
$ dicomweb_client -vv --url http://localhost:8008/dicomweb store instances SM000001.dcm
then,
2021-06-08 09:12:15 | INFO     | dicomweb_client.api                      | store instances
2021-06-08 09:12:17 | INFO     | dicomweb_client.api                      | store data in ch

[2021-06-08 01:57] DrexlerChao commented on #28
@pieper - I use 3D Slicer DICOMweb Browser to connect slim DICOMweb at http://localhost:8008/dicomweb.
But DICOMweb response the error message "500 Server Error: Internal Server Error for url: http://localhost:8008/dicomweb/studies?offset=0"

Slim seem like "block" client connection, while I use dicomweb-client or 3D Slicer.
How to fix the connection error? Any configuration have to set?

[2021-06-08 02:24] pieper commented on #28
@DrexlerChao I don't know about the localhost configuration, but it makes sense that you would get the same error from both Slicer and Slim, since they are hitting the same endpoijnts.

Have you tried using a google endpoint, like the one listed [here](https://github.com/DICOMWG26AnnotationAHG/hackathon/blob/main/servers.md#dicomweb-studies-service-base-uri-2)?

[2021-06-08 05:12] DrexlerChao commented on #28
@pieper Thanks for your suggestion.
Yes. 3D Slicer DICOMweb Browser connect to Google Cloud DICOMweb Studies Service Base URI https://idc-external-006.uc.r.appspot.com is working.

But, how to fix the localhost connection issue to upload DICOM files to the Slim DICOMweb service?
Any help or suggestion will be sincerely appreciate.
Thanks.

[2021-06-08 11:27] igoroctaviano commented on #19
@hackermd @pieper which google acc we are going to use to set up the preview? if there's one for slim already, you can generate the firebase config with the following steps:
- In the repo folder, run: `firebase init hosting`
- Follow the CLI prompts, and the command will automatically take care of setting up the GitHub Action. In this step, you'll need to set up the public folder to `build` and de

[2021-06-08 11:28] Punzo opened #29 "Skill to customize the redirect URI"
Currently for using google stores, one has to add http://localhost:3000 in the Authorized redirect URIs in his/her google ID. This is not ideal for the end-user. It would be great if we can add this OIDC property configurable in the client to avoid the need to change the redirect in gcloud

[2021-06-08 17:04] pieper commented on #19
Does acc mean account?  I don't think it matters.  I believe the use case will stay in the free tier, but if there's a concern it won't then @hackermd could use an account from his idc-external-006 project.

[2021-06-08 17:13] pieper commented on #28
Great!

By this I assume you mean the docker compose option that uses dcm4chee behind the scenes.  I'm afraid I can't help with that specifically since I've never used it.  Could be something like disk volume permissions or ports, but hard to say.  @hackermd do you have a recipe for a clean install, perhaps on a GCP VM?

[2021-06-15 19:41] hackermd commented on #29
@Punzo could you please elaborate? The authorization server needs to know the [redirection endpoint](https://datatracker.ietf.org/doc/html/rfc6749#section-3.1.2). How would you propose configuring this on the client?

[2021-06-15 19:56] hackermd commented on #28
Internal server error is an indication that there may be a problem with the docker deployment. What do the DCM4CHE server logs say? You can expect them in the container as follows:

    $ docker exec slim_arc_1 cat /opt/wildfly/standalone/log/server.log

[2021-06-16 12:48] Punzo commented on #29
we can talk about this tommorrow at the IDC-OIHF meeting.

[2021-06-17 07:39] Punzo opened #30 "Extend dicom-microscopy-viewer API to handle multiplexed samples (multi-channels) with DimensionOrganizationType = TILED_SPARSE"
We will handles this as soon as we will have data provided by the HTAN project

[2021-06-17 07:44] Punzo opened #31 "Extend dicom-microscopy-viewer API and SLIM to use OpticalPathUID"
Currently the dicom-miscroscopy-viewer and SLIM use the Optical Path Identifier to handles channels, apply the color functions, etc... However the Optical Path Identifier could not be always unique, see for more details:
https://github.com/MGHComputationalPathology/slim/issues/22#issuecomment-854642273

We should introduce a new unique DICOM attribute OpticalPathUID.

[2021-06-23 00:54] DrexlerChao commented on #28
@hackermd Thanks for your suggestion.
After reinstall, the Slim webviewer is working very well.
The dcm4che log file is helpful to me when I face other issue in the future.
Thanks a lot.

[2021-06-23 17:32] #28 closed

[2021-06-29 08:52] DrexlerChao opened #32 "About image annotation"
Dear Sir,
After upload WSI DICOM image to Slim successfully, we try to annotate ROI.
The image size is under 1G and follow supplement 145 standard.
Some cases enable annotated, but some cases unable annotated.
How to check the root cause that the Slim unable to annotate ROI ?

Any help or suggestion will be sincerely appreciate.
Thanks a lot.

[2021-07-01 18:43] hackermd commented on #32
@DrexlerChao thank you for testing Slim and for reporting the issue. Is there an error message in the JavaScript console of the browser?

I have encountered this problem with images that have a wrong image orientation or offset resulting in negative coordinate points. What the values of *Image Orientation Slide* and *X/Y Offset in Slide Coordinate System* in the data sets that cause the error?

[2021-07-02 05:29] DrexlerChao commented on #32
@hackermd Thanks for your suggestions. Here is my error message in the JavaScript console of the browser:
map coordinates from pixel matrix to slide coordinate system scoord3dUtils.js:26
remove ROI 2.25.672764296485173435553631564510971468282 viewer.js:2088
Uncaught Error: coordinates of Polygon must be positive numbers scoord3d.js:201
    at new n (scoord3d.js:201)
    at scoord3dUtils.js:44

[2021-07-05 00:39] DrexlerChao commented on #32
@hackermd Hi Sir,
I add the other case which Slim enable annotation.
The Image Orientation Slide:
0048,0102 (ImageOrientationSlide): -1\0\0\0\-1\0

The X/Y Offset in Slide Coordinate System:
0040,072a (XOffsetInSlideCoordinateSystem): 12.30691
0040,073a (YOffsetInSlideCoordinateSystem): 20.76015

For your reference.
Thanks a lot.

[2021-07-06 17:22] hackermd commented on #32
It appears that the value of the Image Orientation Slide attribute is wrong. That is an issue we encountered before.

Here is my take on the value set that is compliance with the standard.

![ImageOrientationSlide](https://user-images.githubusercontent.com/6855297/124641401-aade8780-de5c-11eb-9afe-7b8160b2670a.png)

Unfortunately, there is not much Slim can do about it. We could allow negative coo

[2021-07-09 07:33] DrexlerChao commented on #32
@hackermd Dear Sir,
We use 3DHISTECH to scan WSI and 3DHISTECH's Slide Converter tool convert mrxs file to DICOM file.
Because of default setting, the values of Image Orientation Slide as follow,
![tag](https://user-images.githubusercontent.com/27002631/125036269-643f9600-e0c5-11eb-9183-e94786be99af.png)

As you mentioned, the Image Orientation Slide attribute is wrong.
But some cases able to anno

[2021-07-09 11:41] hackermd commented on #32
Thanks @DrexlerChao for the additional information. The reason why some regions can be annotated and other cannot is due to their position on the slide relative to the SLIDE_CORNER. The Slim viewer translates  image (Row, Column) coordinates into slide (X, Y, Z) coordinates and throws an error if slide coordinates have negative values for X or Y, which would indicate that the annotated region woul

[2021-07-13 08:46] DrexlerChao commented on #32
@hackermd Dear Sir,
Thanks for clearly description and kindly response.
After modify Image Orientation Slide attribute to [-1.0, 0.0, 0.0, 0.0, 1.0, 0.0], the Slim can annotate ROI as follow,
![3DHISTECH_slim_annotate](https://user-images.githubusercontent.com/27002631/125419886-c4513fb2-f834-4066-b63f-91e0b9cb89d3.png)

If 3DHISTECH unable to change the Image Orientation Slide attribute, we are g

[2021-07-13 12:25] #32 closed

[2021-07-13 14:41] DrexlerChao opened #33 "How to get Slim DICOM SR document ?"
Dear Sir,
After draw and save ROI, the Slim store them as DICOM comprehensive 3D SR documents.
We use 3D Slicer DICOMweb browser to connect slim http://localhost:8008/dicomweb, the list of cases as follow,
![Screenshot from 2021-07-19 09-26-52](https://user-images.githubusercontent.com/27002631/126090507-1b168754-4b5e-4b8c-a1cb-ac00c22d3eb4.png)
We try to retrieve studies, but the 3D Slicer respon

[2021-07-15 08:26] Punzo commented on #19
this was done by @igoroctaviano  in https://github.com/MGHComputationalPathology/slim/pull/34, closing!

[2021-07-15 08:26] #19 closed

[2021-07-15 21:34] hackermd commented on #31
Based on the discussion with @dclunie, we decided to rather clarify uniqueness requirements for the existing Optical Path Identifier attribute rather than introducing a new Optical Path UID attribute.

[2021-07-15 21:34] #31 closed

[2021-07-15 21:38] hackermd opened #35 "Improve events and event listeners for drawing lines"
When a line is drawn, the user needs to double-click on the last vertex of the polyline to finish the drawing. This double click also triggers a map zoom event, which is confusing.

[2021-07-19 08:40] DrexlerChao commented on #33
Dear Sir,
We use Postman API tool to GET slim study, series and instance list via
http://localhost:8008/dicomweb/studies
http://localhost:8008/dicomweb/series
http://localhost:8008/dicomweb/instance
![Screenshot from 2021-07-19 15-49-41](https://user-images.githubusercontent.com/27002631/126124471-56811803-4284-4c4b-b93b-9ea15012e08c.png)

We are not sure the dicomweb API whether enable to GET the

[2021-07-19 17:35] wlongabaugh opened #36 "Problems hosting content with /slim in path."
I am trying to have SliM served up from a non-root directory, so that I can have the same hostname for the two different viewers and route traffic based on the URL. (e.g. I want https://hostname.example.com/slim/studies/blah... to go to the SliM Bucket, and other paths to go to radiology).

I have followed the build output instructions to put "homepage"="/slim" into the top-level package.json file

[2021-07-20 18:19] wlongabaugh opened #37 "Graceful handling of possible HTTP error status codes"
When SliM is running against the IDC proxy, it is possible that it will receive an HTTP status return of 429, which means that the daily quota has been exceeded. To make this comprehensible to the user, it is preferable that the viewer redirects to a page explaining the error. In general, having an error handler has more general use. This is a snippet from the OHIF viewer configuration page to sho

[2021-07-22 13:46] Punzo commented on #37
@wlongabaugh we will implement this, could you please list all the error codes that you would like us to handle?

Implementation details:
1) we could have a json config file with declarative attributes: error, reinderict/messagge, url/text, etc....
2) but at the moment Slim should not give any API, extensions capabilities (out of scope), etc... therefore we will hardcode them directly in the sourc

[2021-07-22 13:58] Punzo opened #38 "Allow disabling of retrieved rendered to improve performance"
From Steve: Let's also discuss performance improvement options, specifically try turning off request-rendered mode.  Currently tiles are taking over 200 ms in some cases.  It would be nice to have a silky smooth pan zoom experience if possible.

First step: just add a config file option to enable/disable the retrieveRendered option: https://github.com/MGHComputationalPathology/slim/blob/3e6be0190f

[2021-07-22 14:01] Punzo opened #39 "Tile grid shifts upon zooming"
From Steve: as Bill reported there's a shift to the down-right when high res tiles come in which may be a problem with the coordinate systems or maybe the data but probably the viewer.

[2021-07-22 14:06] Punzo commented on #39
https://dev-slim-viewer.canceridc.dev/

[2021-07-22 14:08] Punzo commented on #39
we need to test

[2021-07-22 14:12] Punzo opened #40 "Delay in tile rendering"
from Steve: when zooming, sometimes some tiles are not rendered until there is another interaction (e.g. panning) and then they get rendered.

[2021-07-22 14:44] Punzo commented on #39
@hackermd maybe a bug in static method deriveImageGeometry : https://github.com/MGHComputationalPathology/dicom-microscopy-viewer/blob/3b6b5afaae419e2f006e90fba297ad9612de6a8a/src/channel.js#L451

[2021-07-22 14:47] Punzo commented on #40
@pieper I tried to reproduce this on several data, but I couldn't. I will try again, but if you could point the specific datasets and steps to reproduce, it would be great. Thanks!

[2021-07-22 14:58] pieper commented on #40
I was able to reproduce with this dataset on mac with chrome.  Just panning and zooming for a few minutes got me to a spot where half the screen was blank for a long time (much more than the time it takes to fetch tiles)and when I finally panned the white section was filled in instantly (not enough time for another fetch).  So I still think there's a missing redraw in some cases.

If you still can

[2021-07-22 15:25] Punzo commented on #40
ok thanks for the addtionalo info. I tried again and I could not reproduce. I am wondering if it is a GPU/OpenLayer/mac issue (I tested with chorme and nividia gpu on windows and linux). @hackermd could you please try to reproduce the issue?

[2021-07-22 15:39] pieper commented on #40
I have reproduced twice, on different macs with chrome, one with AMD and one with Intel GPU.

[2021-07-22 15:49] fedorov commented on #40
I was also able to reproduce. Is there a meaning for tiles being shown in pale color in the macro image in the bottom left? In the screenshot below, they stayed pale until I interacted panned in the viewer.

![image](https://user-images.githubusercontent.com/313942/126669000-e3cacf7d-ef87-469d-b610-2f0446624aaf.png)

[2021-07-22 22:24] hackermd commented on #33
The Retrieve Transaction of the DICOMweb Studies Service is specified in [part 18 section 10.4 of the DICOM standard](http://dicom.nema.org/medical/dicom/current/output/chtml/part18/sect_10.4.html).

Retrieving the whole study is generally not a good idea in digital pathology, given the size of the data sets. I would recommend first searching for instances with query string `Modality=SR` and then

[2021-07-22 22:25] hackermd commented on #33
I am closing this issue since it's a general question about the DICOMweb standard rather than the Slim application.

[2021-07-23 00:22] wlongabaugh commented on #37
The 429 resulting in a specified redirect is the only one we need implemented. The only other error handling we need is graceful backoff and retry if a 500 is returned from the server. If the proxy is idling along and then is suddenly overwhelmed with a flurry of requests and fails to keep up as it spools up new instances, it is possible to get 500s. Those should not bring everything to a grinding

[2021-07-23 02:39] fedorov opened #42 "Improve configuration for IDC deployment"
Slim is now available in the IDC dev tier, and there are some hopefully small configuration issues that would be good to resolve to avoid confusion, and make presentation consistent with the radiology viewer:
* annotations toolbar should be hidden, since this is a read-only view of the data
* study selector button should be disabled, since the user will get to the viewer from the portal
* IDC logo

[2021-07-23 05:00] DrexlerChao commented on #33
@hackermd Dear Sir,
Thanks for your useful suggestions.

[2021-07-23 06:10] DrexlerChao opened #43 "HTTPError: 500 Server Error: Internal Server Error"
Dear Sir,
I follow the user guide https://dicomweb-client.readthedocs.io/en/latest/usage.html to retrieve instance.
My python version is 3.8.5 and python code as follow,
![code](https://user-images.githubusercontent.com/27002631/126740771-85407edb-d4e8-45fc-bbff-26efb6dc000d.png)

After the python code executed, the HTTPError as follow,
![Screenshot from 2021-07-23 12-54-21](https://user-images.gi

[2021-07-23 06:45] Punzo commented on #40
are you also on mac?

no, probably is correlated to the same bug that Steve reported.

[2021-07-23 06:51] Punzo commented on #40
in order to catch if it is an OpenLayer or Slim bug, @pieper @fedorov could you please try to reproduce the bug on this openLayer example? https://openlayers.org/en/latest/examples/overviewmap.html

It simply looks like the tiles get rendered a little bit before they are finished to be downloaded, but I really can't reproduce it on my system.

[2021-07-23 06:59] Punzo commented on #42
This probably is worth to discussing at the next meeting. we have two possibilities:

1) we fork Slim and we apply these modifications (I would avoid it)
2) we need a system in Slim to configure "extensions" (e.g. a config file) and refactor some parts. We were briefly discussing this yesterday for https://github.com/MGHComputationalPathology/slim/issues/37. The decision was to avoid to give any A

[2021-07-23 07:01] Punzo opened #44 "Extendibility and Configurability"
For the moment we decided to avoid to give any API/extensions capabilities for Slim. However considering IDC issues
1) https://github.com/MGHComputationalPathology/slim/issues/42
2) https://github.com/MGHComputationalPathology/slim/issues/37

maybe we should reconsider it.

[2021-07-23 07:04] Punzo commented on #37
thanks for the info Bill!

P.S.: I putting this in standy until we reach a consensus on the extendibility and configurability of Slim, see https://github.com/MGHComputationalPathology/slim/issues/42  and https://github.com/MGHComputationalPathology/slim/issues/44

[2021-07-23 11:57] pieper commented on #40
As far as I can tell it does not happen on the openlayers example.  Doing a similar amount of panning and zooming that results in the slim hang does not lead to a hang for openlayers.

[2021-07-23 12:37] Punzo commented on #40
ok thanks for taking the time and testing.

One thing that we can do easily is to update the OpenLayer version. Currently we are using 6.5.0 https://github.com/MGHComputationalPathology/dicom-microscopy-viewer/blob/master/package.json#L70
while the latest version is 6.6.1 (the one of the examples).

If still does not work, we would need to perfom deep debugging in the dicom-microscopy-viewer and o

[2021-07-23 15:39] igoroctaviano commented on #37
Regarding backoff and retry, I recently added this feature to OHIF (for dicomweb-client only), now that It has the feature of adding request hooks. If this is needed here, it's worth creating a separate issue.

[2021-07-23 16:03] fedorov commented on #42
There's also this error that pops up every time on SM load, which would be good to eliminate.

![image](https://user-images.githubusercontent.com/313942/126809995-5a52d87e-cc63-4267-a343-1cb250c08ac0.png)

[2021-07-23 19:44] hackermd commented on #43
@DrexlerChao  it is hard to say what causes the error, but it doesn't appear to be an issue with the server (or the data) rather than the client. Did you inspect the server logs?

[2021-07-26 09:48] Punzo commented on #38
Implemented in https://github.com/MGHComputationalPathology/slim/pull/25/commits/25667f8eead3b4bc2bf2cee630a5f9e1fd65cb0b

[2021-07-26 13:43] Punzo commented on #39
I perfomed further test on this. In the following video we can see that the "image shift" occurs only when the tile do a transition between "preview" (i.e. when is downloading) and to fully loaded:

https://www.dropbox.com/s/m9ccicz5tstnr1x/2021-07-26%2015-29-26.mp4?dl=0

Therefore the fully downloaded images position is right in world coordinates (in the video you can focus on the annotation and

[2021-07-26 13:45] Punzo commented on #40
@pieper we updated the OpenLayer version in dicom-miscroscopy-viewer (https://github.com/MGHComputationalPathology/dicom-microscopy-viewer/pull/57), as soon as https://github.com/MGHComputationalPathology/slim/pull/25 will be merged, we can release new versions of slim and dicom-miscroscopy-viewer and we can test this issue again.

P.S.: I tried to reproduce also on my linux laptop (with a Geforce

[2021-07-26 13:50] pieper commented on #39
Thanks for investigating further @Punzo.  We'll need to discuss what priority this has.  So far it's been stated by @dclunie that this wouldn't be acceptable for clinical pathology review systems.  But IDC may be okay with a viewer that is "good enough" to see the images.  At the same time we don't want people to think that the data itself is somehow wrong or that the dicom conversion of the data

[2021-07-26 13:53] Punzo commented on #39
ok then for the moment I will stop working on it until we have the occasion to discuss about it.

[2021-07-26 14:05] fedorov commented on #39
Would also be good to hear from @ahomeyer about how important this issue is for the researchers.

[2021-07-26 15:07] dclunie commented on #39
don't stop working on this ... there is clearly a problem that needs to be fixed, regardless of the user ... it's not annoying, it's unprofessional

[2021-07-26 15:23] fedorov commented on #36
This appears to be the main roadblock for deploying slim in IDC, please mark this as priority.

[2021-07-26 15:24] Punzo commented on #39
we will definitely come around with a proper fix. However, as any bug involving third party libraries, it may take time and resources. It is @pieper @fedorov call to assign the level of priority for the issues and allocate resources. I will look forward to discuss it in the a videocall in the OHIF-IDC prioritization meetings (as I largely anticipated I will be in vacation in August, so for me it w

[2021-07-26 15:36] ahomeyer commented on #39
I cannot access the dev-slim-viewer.canceridc.dev link above but took a look at the video.

We had a similar issue in the past with Hamamatsu NDPI files. It turned out, that higher levels in the image pyramid were shifted to some small degree and did not correspond to proper downsampled versions of the base layer. We had to solve this problem by resampling the entire image pyramid from the base la

[2021-07-27 02:43] DrexlerChao commented on #43
@hackermd Dear Sir,
I use the cmd to check DCM4CHE server logs
$ docker exec slim_arc_1 cat /opt/wildfly/standalone/log/server.log
![log](https://user-images.githubusercontent.com/27002631/127083677-84aafeb8-bac5-42ea-86e8-9970f0661041.png)
The log said java.nio.file.NoSuchFileException: /opt/wildfly/standalone/data/fs1/2021/07/19/EE6E26AB/73022895/DD31F674

I try to find the file DD31F674 in the

[2021-07-28 19:19] hackermd commented on #43
Not sure. This could be an issue with the containerized DCM4CHE archive getting somehow out of sync with the database/filesystem storage volume.

I am closing the issue, since it appears to be unrelated to Slim. I would recommend reporting the issue at https://github.com/dcm4che/dcm4chee-arc-light

[2021-08-02 19:47] fedorov commented on #5
Suggestion from @pieper:

I would suggest that the GCP case is common enough that you might want to include a handler for it.  You could have a url like:

https://slite.org/slim/gcp/dataset/dicomstore/<dicomweb api>

Then you could have other cases where gcp is replaced by aws or mgbvna or whatever.

[2021-08-05 13:13] igoroctaviano commented on #36
Regarding /slim basename problem, in your bucket deploy yaml file have you tried this?
runtime: nodejs10
handlers:
  - url: /
    static_files: build/index.html
    upload: build/index.html
  - url: /slim
    static_files: build/index.html
    upload: build/index.html
  - url: /(.*)$
    static_files: build/\1
    upload: build/(.*)
adding another url to fallback to the index.html?
e.g. https://id

[2021-08-09 15:46] hackermd commented on #43
@DrexlerChao I was able to reproduce the error and reported the issue to the DCM4CHE maintainers. Based on their feedback, I updated the docker compose configuration and can no longer reproduce the error. Could you kindly test on your end, too?

[2021-08-10 14:01] hackermd opened #48 "Abstract routing configuration and access to URI parameters"
At the moment the URI template `/studies/:StudyInstanceUID/series/:SeriesInstanceUID` is assumed at several locations within the app's source code. If the template or routing mechanism ever gets changed, it could introduce bugs that are difficult to find. It would be nice to have an abstraction of the URI path that can be used to configure routing and access URI parameters.

[2021-08-10 14:02] hackermd commented on #48
@igoroctaviano I would suggest we tackle this as part of #36

[2021-08-10 14:25] igoroctaviano opened #49 "Logging wrapper / Log service"
We need a logging abstraction to allows us to:
- Enable/disable application logging
- Filter logging
- Adding hooks (to attach things like Rollup)

In the first iteration, it could be implemented as a simple proxy and later upgraded to include all these features.

[2021-08-10 16:30] fedorov commented on #42
@hackermd  - @wlongabaugh and most of the team feel strongly that the study list selector should be removed from the upper left corner. Can this be removed, if other items in the list cannot be addressed immediately?

[2021-08-10 16:37] fedorov commented on #42
On that note, there is already a fork of Slim under IDC here https://github.com/ImagingDataCommons/slim that has a cherry-picked commit, so maybe for now we can make those customizations in the IDC fork, and then when the upstream is ready, synchronize the fork with the main repo? I am just thinking how we can expedite public release of Slim functionality, while not confusing the users with the it

[2021-08-10 16:46] hackermd commented on #42
Yes, we can make this configurable easily. Will merge #47 later today and then start addressing these smaller issues.

[2021-08-10 16:47] hackermd commented on #42
I would avoid cherry picking into the fork if possible. I can prioritize this issue and make a new release within the next days.

[2021-08-10 16:49] fedorov commented on #42
I agree. @wlongabaugh did the cherry-picking into that fork to address #36 in absence of the solution in the master. We are aiming for production tier release around Wednesday next week. If a more robust solution can be ready in time that does not require cherry-picking, definitely we should use it.

[2021-08-10 16:58] hackermd opened #50 "Wrong configuration for Slim preview on GCP"
I just realized that the Slim instances that are deployed on GCP for previews are configured with the `config/local.js` file. That is incorrect, since this configuration is intended for "local" development and testing with a DCM4CHE archive running in the a Docker container on localhost. I would suggest adding a separate `config/preview.js` file.

[2021-08-10 17:09] hackermd opened #51 "Handle errors upon attempt to load and parse annotations"
When there are SR documents available that don't conform with the format expected by Slim, the viewer displays an error message.

![image](https://user-images.githubusercontent.com/313942/126809995-5a52d87e-cc63-4267-a343-1cb250c08ac0.png)

Not all errors may be worth bringing to the attention of the user. Let's try add checks to determine whether an existing SR does represent a displayable annota

[2021-08-10 17:12] #38 closed

[2021-08-10 17:12] hackermd commented on #51
First reported by @fedorov in #42

[2021-08-10 17:17] hackermd commented on #50
Addressed via 68e8124278940cccf30e3ca2ceba22dfac8d97ab

[2021-08-10 17:33] igoroctaviano commented on #50
@hackermd should we close this issue?

[2021-08-10 17:38] hackermd commented on #23
This should be resolved with the [0.2.0](https://github.com/MGHComputationalPathology/slim/releases/tag/0.2.0) release.

[2021-08-10 17:38] #23 closed

[2021-08-10 19:53] hackermd commented on #36
I've fixed the path configuration via 3e00c491fa4c8574bc769ddc9b4586957cb0258e, which will be included via #52. Note that I have updated the default local configuration to use this feature. When deploying the viewer together with the archive locally using the provided Docker compose configuration, the app will be located at `http://localhost:8008/viewer`.

[2021-08-10 21:06] #36 closed

[2021-08-10 21:06] #42 closed

[2021-08-10 21:14] hackermd commented on #44
Closing this issue, since the features are already tracked by two separate issues (#37 and #42).

[2021-08-10 21:14] #44 closed

[2021-08-10 21:15] hackermd commented on #43
Closing this issue since I no longer encounter the error after the update of the Docker compose configuration.

[2021-08-10 21:15] #43 closed

[2021-08-10 21:16] #33 closed

[2021-08-10 21:18] hackermd commented on #7
This should work since the [0.2.0](https://github.com/MGHComputationalPathology/slim/releases/tag/0.2.0) release.

[2021-08-10 21:18] #7 closed

[2021-08-10 21:19] hackermd commented on #8
This feature is available with version [0.2.0](https://github.com/MGHComputationalPathology/slim/releases/tag/0.2.0).

[2021-08-10 21:19] #8 closed

[2021-08-11 13:18] hackermd opened #55 "Disable zoom of overview map"
Currently, the overview map also zooms when the user zooms on the main map. This behavior may not be desirable and should be either deactivated by default or made configurable.

[2021-08-11 13:58] hackermd opened #56 "Improve client-side caching of frames"
Find an optimal balance between caching frames (tiles) client-side and memory footprint. We may want to configure this differently depending on the size of a "slide" (i.e., the number of associated instances or frames) or handle it differently for different pyramid image resolution levels (e.g., cache top pyramid layer).

This may be critical if certain pyramid levels are missing server side. For

[2021-08-11 21:17] #37 closed

[2021-08-13 05:10] DrexlerChao opened #57 "An error occured. Image metadata could not be retrieved."
Dear Sir,

We installed the latest version of Slim.

After uploading WSI DICOM to Slim, we try to open WSI viewer. But it did not work.
The Slim replied error message "An error occured. Image metadata could not be retrieved."
![Screenshot from 2021-08-13 10-47-12](https://user-images.githubusercontent.com/27002631/129300704-d4fcc04e-81e5-4147-8dc3-53519fb14037.png)

Here is the docker log for your

[2021-08-13 20:17] hackermd commented on #17
@igoroctaviano @wlongabaugh @fedorov what do we want to override for the IDC?

The logo in the browser tab is straight forward. One just needs to replace the `logo192png` file on the web server (see [index.html](https://github.com/MGHComputationalPathology/slim/blob/9f9115ed3a3efcab9b48747a06dd825f6c0bf1a6/public/index.html#L12)). The title/description in the tab could also be updated by changing

[2021-08-13 20:56] fedorov commented on #17
Markus, I do think we will need to have the logo in the app for the Sept release, same as we do in OHIF, but this can wait until after the next week's release.

[2021-08-13 21:45] hackermd commented on #51
@wlongabaugh @fedorov as discussed this morning, I am not entirely sure what causes this error to be displayed. I've added a couple of additional checks of SR document content before attempting to extract annotations from the Measurement Report (see #58). Does this resolve the issue?

[2021-08-13 21:59] wlongabaugh commented on #51
Testing your branch against the dev proxy is the best way to check if this solves the problem.

[2021-08-16 06:00] DrexlerChao commented on #43
@hackermd Hi Sir,
Sorry for the delayed response!

After install the latest version of Slim, this issue is fixed.
Thanks for your great support.

[2021-08-16 06:26] DrexlerChao commented on #57
Dear Sir,

Update the issue status.
After a couple of hours later, this issue is gone and the Slim works perfectly.

I'm not sure about that, maybe the Slim docker container / volume / network not stable yet that cause the error.

[2021-08-16 12:10] #51 closed

[2021-08-16 12:54] hackermd commented on #51
This turned out to be an issue with the DICOMweb interface of either the Google Healthcare API or the proxy server.

If there was no match for the search transaction, the server responds with an empty HTML document instead of with a empty JSON array as specified by [DICOM Part 18 Section 10.6.3.3.3](http://dicom.nema.org/medical/dicom/current/output/chtml/part18/sect_10.6.3.3.3.html).

<img width=

[2021-08-16 14:12] hackermd commented on #57
@DrexlerChao we added a new configuration parameter that needs to be included in the configuration file (see [local.js](https://github.com/MGHComputationalPathology/slim/releases/tag/0.2.0)). I added a line to the [notes of the 0.2.0 release](https://github.com/MGHComputationalPathology/slim/releases/tag/0.2.0).

[2021-08-16 19:56] hackermd opened #60 "Application crashes when trying to retrieve OVERVIEW image"
When the viewer tries to retrieve the OVERVIEW image for display in "slides" menu section of the case viewer (lower menu item in the left sidebar), it may crash if the configured DICOMweb server doesn't support the "viewport" URL query parameter for the retrieve rendered transaction.

[2021-08-16 20:09] hackermd commented on #60
See https://github.com/MGHComputationalPathology/dicom-microscopy-viewer/issues/63

[2021-08-16 20:34] #60 closed

[2021-08-16 20:48] hackermd opened #62 "Pagination of worklist is broken"
The worklist does no longer number the pages of available studies, but only shows the studies of the first page.

[2021-08-16 20:50] #62 closed

[2021-08-17 22:03] hackermd commented on #51
The erroneous status code (200 instead of 204) seems to be caused by the proxy, because when accessing the Google Healthcare API directly a 204 status code is returned as expected.

The erroneous payload (`text/html` instead of `application/dicom+json`) seems to be an issue with the Google Healthcare API. I have reported the issue, but it may take some time until it will get fixed.

Of note, the d

[2021-09-01 08:52] DrexlerChao opened #65 "Remote browser access error"
Hi Sir,
After install Slim and upload DICOM successfully, the Slim localhost main page as follow,
![Screenshot from 2021-09-01 16-36-17](https://user-images.githubusercontent.com/27002631/131641630-9a918076-d017-4d90-b3c0-82ac83df28aa.png)

If we used remote browser to connect Slim,  it replied error message as follow,
![messageImage_1630484915959](https://user-images.githubusercontent.com/2700263

[2021-09-01 14:00] hackermd commented on #65
It appears you didn't update the configuration accordingly. If you host the web application via a remote server, then the DICOMweb client running locally in your browser needs to access the remote DICOMweb server. Update either the `path` or the `url` parameter in your application configuration file (see [AppConfig.d.ts.](https://github.com/MGHComputationalPathology/slim/blob/75cc2a3497f293fe6b110

[2021-09-02 08:46] DrexlerChao commented on #65
@hackermd Dear Sir,
Thanks for your reply.

We try to use client computer to connect Slim viewer via web browser.
The computer IP and connection as follow,
![connect](https://user-images.githubusercontent.com/27002631/131809255-32d10a7e-ca2c-4ea4-8a95-037468bac9c7.png)

As you mentioned, update either the path or the url parameter in AppConfig.d.ts configuration file.
Here is our update procedure,

[2021-09-02 15:00] hackermd commented on #65
@DrexlerChao thank you for the detailed description!

Just for clarification, you shouldn't update the `AppConfig.d.ts` directly, but rather the application configuration file (see [Configuration section of README](https://github.com/MGHComputationalPathology/slim#configuration)). I just referenced the `AppConfig.d.ts` file to highlight the configuration options.

For example, you could create a `

[2021-09-03 05:10] DrexlerChao commented on #65
@hackermd Dear Sir,
Thanks for your explain clearly and precisely.

We created a public/config/remote.js and edited it as follow,
![config](https://user-images.githubusercontent.com/27002631/131953238-c9ce9f6d-807c-4ab9-b9cc-f52228867a57.png)

After rebuild slim_app docker image and restart Slim viewer.
The client web browser can show the list and display SM image as follow,
![remote](https://user

[2021-09-03 08:15] DrexlerChao opened #66 "Deploy Slim on MAC"
Dear Sir,
We try to deploy Slim on Apple MAC via Docker Compose.
Docker version is 20.10.8
Docker-Compose version is 1.29.2

After downloading dem4che, we try to build slim_app. But it did not work.
Here is error message,
![截圖 2021-09-03 下午3 36 38](https://user-images.githubusercontent.com/27002631/131971155-51f9b73c-3f66-4544-a348-806bcaa28672.png)

We try to reboot MAC and redeploy Slim. But it

[2021-09-03 12:14] hackermd commented on #65
@DrexlerChao glad it's working.

[2021-09-03 12:14] #65 closed

[2021-09-03 12:26] hackermd commented on #66
@DrexlerChao the  error message states that the build process ran out of memory. You may need to update your Docker preferences and increase the amount of memory.

[2021-09-06 03:01] DrexlerChao commented on #66
@hackermd Dear Sir,
Thanks for your suggestion.

After updated Docker Preferences -> Resources -> ADVANCED -> Memory and Swap, we deployed Slim successfully.
![截圖 2021-09-06 上午10 34 47](https://user-images.githubusercontent.com/27002631/132154038-8276c7cc-c4ff-4dd6-8949-50dab60a61cf.png)
![截圖 2021-09-06 上午10 54 20](https://user-images.githubusercontent.com/27002631/132154562-c3dcb135-5b45-46ea-a99

[2021-09-06 05:38] DrexlerChao opened #67 "Mobile device connect to Slim"
Dear Sir,

We try to use mobile device (for example: iPhone, iPad, Android phone, etc.) to connect Slim service.
![mobile](https://user-images.githubusercontent.com/27002631/132165693-475f7e42-d16f-44b9-ad5e-c1806a1b8571.png)

But client web browser (for example: Safari, Chrome) display nothing.
The web browser error message as follow,
<img width="1000" alt="截圖 2021-09-06 上午9 44 52" src="https://u

[2021-09-07 16:46] #66 closed

[2021-09-07 16:55] hackermd commented on #67
We have not tested client-side rendering on mobile devices. It appears the application tries to request too much memory. This is something we'll need to investigate (cc @pieper).

For now, you could just configure the viewer to use *retrieve rendered* as a workaround (see [RendererSettings.retrieveRendered](https://github.com/MGHComputationalPathology/slim/blob/1ee4bb00dfd14981061a3820abfa8c7b34d7

[2021-09-07 19:52] pgundluru commented on #40
This issue still persists with Slim in prod. This was tested on chrome, safari on Mac workstation. When i click on SM, the tile is pale and blurred until i pan on the image in the viewer (try to zoom in)

[2021-09-13 19:45] fedorov opened #68 "Add "Debug info" and "About" features"
It would make sense to parallel those to what is available in OHIF. This would be good to resolve for the IDC production release.

![image](https://user-images.githubusercontent.com/313942/133146645-21855f15-2fd9-4a7a-a68d-5e5b42414f97.png)

![image](https://user-images.githubusercontent.com/313942/133146672-cc0fb132-159d-4407-9718-2a582fcad91d.png)

@hackermd I do not have the permission to creat

[2021-09-15 08:21] Punzo commented on #40
I still could not reproduce it, but this has an high probablity to be related to https://github.com/openlayers/openlayers/issues/12596 which was fixed in the recent OpenLayers release 6.7.0

I have opened a PR to update the dicom-microscopy-viewer:
https://github.com/MGHComputationalPathology/dicom-microscopy-viewer/pull/65

[2021-09-15 19:25] #40 closed

[2021-09-16 23:22] hackermd commented on #68
The implementation of the debugging information should be straight forward. OHIF uses the [detect-browser](https://www.npmjs.com/package/detect-browser) package to get the information about the browser and operating system.

[2021-09-17 13:37] fedorov commented on #55
@dclunie brought this up today in our discussion and suggested it would be important to look into fixing this.

[2021-09-17 22:26] hackermd commented on #68
Not yet super pretty, but the basic functionality is there.

<img width="599" alt="Screen Shot 2021-09-17 at 6 22 12 PM" src="https://user-images.githubusercontent.com/6855297/133859876-cb75a6e5-f8a5-4802-bf33-214348956e29.png">

[2021-09-18 22:02] #68 closed

[2021-09-18 23:48] #17 closed

[2021-09-19 13:34] hackermd commented on #39
Based on the detailed assessment in https://github.com/openlayers/openlayers/issues/12768, this issue appears to be caused by the tiles rather than a bug in the viewer or the underlying libraries.

[2021-09-19 15:17] dclunie commented on #39
I don't see how you reach that conclusion - if the issue is onyl when upsampled proxy tiles are showing, how can this be blamed on the original tiles?

Bottom line is the application behavior that the user experiences is wrong and needs to be fixed, regardless of whether it is the application code or the library it depends on, so closing this doesn't solve the user's problem.

[2021-09-19 15:47] #55 closed

[2021-09-19 16:59] hackermd commented on #39
What should we (or the Openlayers developers) do about it in your opinion?

We could turn off up-sampling and not show any interim tiles upon zooming, but that would also not be a desirable behavior in general.

We haven't seen this application behavior with data generated by other acquisition devices, have we? The viewer application ultimately has to make assumptions about characteristics of the

[2021-09-19 17:01] dclunie commented on #39
Upsample correctly.

David

On 9/19/21 1:00 PM, Markus D. Herrmann wrote:

[2021-09-20 07:43] Punzo commented on #39
So summing up OpenLayers dev told us:

1) the lower resolution tiles are used on higher resolution levels only during the donbwload and they are upsampled.
2) to upsample they use at least a bilinear interpolation (right?)

My question for you guys @dclunie @hackermd :  are some levels of the pyramid generated by resampling? if there are resampled images, which interpolation do you used?

because

[2021-09-20 11:43] dclunie commented on #39
Can it really be a problem with the tiles, base layer or downsampled, if the supplied tiles (not the OpenLayers upsampled ones) display correctly (in the correct locations)?

Since the supplied tiles do display correctly, how can the vendor's means of interpolation to produce the downsampled tiles matter, since they are demonstrably "correct" in the sense of not producing any displacement (wrt. ho

[2021-09-20 12:19] Punzo commented on #39
Also for me it is quite strange (in fact I tought it was simply an issue in the computation of the center of the tiles during the donwloading transition of the tile of higher resolution) and I am still really puzzled by it.

For example I see the same bug with GeoTiff data https://openlayers.org/en/latest/examples/cog-overviews.html . So either:
1) the GeoTiff data are sampled with nearest neighbo

[2021-09-20 13:50] dclunie commented on #39
FYI, this is a nice summary of resampling methods and issues:

Parker JA, Kenyon RV, Troxel DE. Comparison of Interpolating Methods for Image Resampling. IEEE Transactions on Medical Imaging. 1983 Mar;2(1):31–9. Available from: http://www.cs.uic.edu/~kenyon/Papers/Comparison.of.Interpolating.Methods.Parker.Kenyon.Troxel.pdf

And this is an interesting paper on the effects of mismatched downsamplin

[2021-09-20 17:46] dclunie commented on #39
I created a freshly downsampled pyramid of the slide that is on the IDC portal front page, using an updated version of the com.pixelmed.apps.TiledPyramid tool, for you to try to see if it manifests the OpenLayers upsampling problem, or not.

The downsampling is by a factor of 2 and is created by averaging four adjacent pixels to produce one, which I understand to be bi-linear interpolation.

See:

[2021-09-20 18:10] pieper commented on #39
@dclunie did you try these with the isomics.dev slim installation?

[2021-09-20 19:22] dclunie commented on #39
No, I don't have the images in a Google DICOMStore.

[2021-09-20 19:37] pieper commented on #39
Do you want me to put them in one?  Is there an existing one that would be appropriate or should we create a dedicated one?

[2021-09-23 02:10] DrexlerChao opened #73 "Slim v0.3.0 blank main page"
Dear Sir,

We downloaded the Slim latest version 0.3.0 and installed successfully.

After connected to the http://localhost:8008, the main page was blank as follow
![Screenshot from 2021-09-23 10-06-33](https://user-images.githubusercontent.com/27002631/134444918-41a1dcb4-a2ff-4889-a898-8b7840303de4.png)

Did we miss something that cause the error？

[2021-09-23 11:06] hackermd commented on #73
I just realized that Create React App uses the [homepage](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#homepage) parameter in `package.json` to set `PUBLIC_URL` (see [here](https://create-react-app.dev/docs/deployment/#building-for-relative-paths) and [here](https://create-react-app.dev/docs/advanced-configuration/)).

I've added the `PUBLIC_URL` environment variable to the `Dockerfi

[2021-09-23 11:06] #73 closed

[2021-09-24 02:55] DrexlerChao commented on #73
@hackermd Dear Sir,

Yes. Slim v0.3.1 is working.
Thanks for your great help.

[2021-09-24 14:06] dclunie commented on #39
Reposting my email on this subject, since it should be attached to this issue ...

I am still not convinced that the problem is with the SVS tiles, and that Slim and/or OpenLayers should not be doing better.

The attached animated GIF illustrates, using the usual "old" SVS data from the default image on the portal home page:

- a section of 4 by 4 tiles from the middle of CPTAC-LSCC C3L-00965-26 b

[2021-09-26 21:06] varikmp opened #74 "The endpoint /dicomweb does not work (locally) using docker compose"
Hello,

I followed the instruction to deploy Slim locally using docker compose without -d flag, and here is the output from console:

[code]

I tried to access http://localhost:8008/dicomweb but unfortunately, I got "404 Not Found" on the web page, and here is the output from console:

[code]

I got in the slim_app docker container, but could not find dicomweb in /var/www/html. I am wondering if i

[2021-09-27 11:47] hackermd commented on #39
Thanks @dclunie for putting this animation together!

I have the impression that is still "movement". Have you also tried the opposite order and without the third option?

1. the same area from the 4x SVS downsampled image (upsampled 4x with netpbm pamscale using its default options)
2. a section of 4 by 4 tiles from the middle of CPTAC-LSCC C3L-00965-26 base layer

This would more realistically s

[2021-09-27 13:14] dclunie commented on #39
There is certainly slight movement of some structures, but my impression is that it is not nearly as severe as the dramatic shift that one sees in Slim, and not consistently in the same direction.

Here is the same patch as a 2-frame "flicker" test (base layer and pamscale default upsample, 0.1 sec between frames):

![merged_withupsampled_layers_2frame_flicker](https://user-images.githubuserconten

[2021-09-27 14:57] hackermd commented on #39
Thanks @dclunie! That's super helpful!

Hmm...to me, the magnitude of the shift looks comparable. The direction indeed appears to be less consistent, but I am wondering whether this effect may just be perceived differently visually when many tiles trickle in on the OpenLayers tile grid with small delays.

Given @ahocevar's description of the internal workings of OpenLayers, the only other explanat

[2021-09-28 09:29] ahocevar commented on #39
@hackermd To verify the tile offsets and dimension, it might be useful to add another tile layer with a [TileDebug](https://openlayers.org/en/latest/apidoc/module-ol_source_TileDebug-TileDebug.html) source, configured with the same `tileGrid` and `zDirection`, to the map. Then you can see the tile borders and tile coordinates.

[2021-09-28 09:57] hackermd commented on #39
That's a very good idea. I temporarily added a `TileDebug` source at some point for debugging, but did not include it as a feature of the dicom-microscopy-viewer library.

[2021-09-28 10:13] hackermd commented on #74
Thanks for reporting the issue @varikmp.

Unfortunately, the output of the console is generally not very informative, since the DCM4CHEE application server doesn't write the application log messages to the standard error stream, but to the file `/opt/wildfly/standalone/log/server.log`.

[code]
It seems the DICOMweb `/studies` request gets correctly proxied to `dcm4chee-arc/aets/DCM4CHEE/rs/studies

[2021-10-03 21:40] varikmp commented on #74
Hi @hackermd,

I am sorry for the late response. I have tried the **/studies** (full URL as you suggested) but saw nothing. I checked the server console and it said

[code]

Also, here is the link to the **/opt/wildfly/standalone/log/server.log** that I got in the container:
[code]
Thank you for your time.

[2021-10-04 07:31] hackermd commented on #74
The fact that you get a `204` status code means that the origin server returned an empty response, i.e., that no data has been stored in the archive. See DICOM [PS 3.18 Section 8.5](http://dicom.nema.org/medical/dicom/current/output/chtml/part18/sect_8.5.html#para_f9fb85ad-42cf-4d8a-a06e-e8f97791b0df).

[2021-10-04 08:38] varikmp commented on #74
Does that mean the database-related errors reported in the console could be ignored and would not affect the empty response from the origin server?
[code]

[2021-10-04 14:41] hackermd commented on #74
I don't know what causes these error messages. The database is part of the DCM4CHEE archive and I am not very familiar with its internals. If you continue to experience the issue, I would recommend reporting it at https://github.com/dcm4che/dcm4chee-arc-light/issues.

I am closing the issue, since it appears to be unrelated to the Slim application.

[2021-10-04 14:41] #74 closed

[2021-10-20 09:00] DrexlerChao opened #75 "Slim 0.4.1 Service 'app' failed to build"
Dear Sir,

We try to download the Slim latest version 0.4.1 and build the app image.
But we failed to build service 'app' as follow,
![Screenshot from 2021-10-20 16-55-02](https://user-images.githubusercontent.com/27002631/138062154-859d2830-3225-4fec-9349-48aec6be3113.png)

Did we miss something that cause the error?

[2021-10-20 17:43] hackermd commented on #75
@DrexlerChao thanks for reporting the issue. Could you kindly try whether it works again [release 0.4.2](https://github.com/MGHComputationalPathology/slim/releases/tag/v0.4.2)?

[2021-10-21 04:09] #75 closed

[2021-12-27 20:46] #22 closed

[2021-12-27 21:03] hackermd opened #77 "Keyboard shortcuts (hotkeys) for annotation tools"
Currently, the annotation tools require the user to click on buttons to activate/deactivate a tool. It would be great to have keyboard shortcuts for these functions.

[2021-12-27 21:06] hackermd opened #78 "Improve automatic renewal of authorization token"
If the authorization token expires, a page reload is needed and the current state is lost. It would be great if the app would automatically refresh the token in the background.

[2021-12-27 21:10] hackermd opened #79 "Add toggle to activate/deactivate all annotations"
The eye button in the annotation toolbar currently only hides/shows ROIs, but does not activate/deactivate the corresponding annotations. We should add a button to toggle all annotations at once.

[2021-12-27 21:15] hackermd opened #80 "Allow update of ROI finding"
It's currently possible to edit the coordinates of a ROI, but not it's corresponding finding. It should be possible for a user to change the assigned finding (or any other qualitative evaluation).

[2022-01-06 15:05] Punzo opened #81 "ENH: cleaning codecs library import"
We have been having a hack in place for the WASM decoders provided via the @cornerstone/codec-* packages by including the code via the index.html file:

    <script src="https://unpkg.com/@cornerstonejs/codec-libjpeg-turbo@0.0.4/dist/libjpegturbowasm.js"></script>

we should import them properly. For example: https://github.com/cornerstonejs/cornerstoneWADOImageLoader/blob/master/src/shared/decode

[2022-01-11 10:49] Samuelmedex opened #82 "Image metadat could not be retrieved"
Hi,

I have install slim, but when trying to see DICOM SM that I have sent to the viewer, for almost all the image I could test, I got an error ("Image metadat could not be retrieved")

![image](https://user-images.githubusercontent.com/97518014/148928551-2dc7e952-ddfa-4e58-b4f5-7a893f1aa007.png)

The only DICOM that work is one with the format SCN and is very light in comparaison to other (2,45Mo

[2022-01-13 15:33] hackermd commented on #82
Thanks for reporting the issue @Samuelmedex. Have you had a look at the developer console to see if any error messages are logged?

[2022-01-13 15:55] Samuelmedex commented on #82
Thanks @hackermd for your reply! Here is a screenshot of the logs when trying to open images and having this error:
![image](https://user-images.githubusercontent.com/97518014/149363718-da1d62ba-5630-4d3b-a2fb-4405cdde22ff.png)

[2022-01-13 17:41] hackermd commented on #82
Thanks @Samuelmedex. I was referring to the JavaScript log message in the console of the web browser. Could you kindly share of screenshot of any error messages?

[2022-01-13 18:39] Samuelmedex commented on #82
Sorry for the mistake, here is the error message within the console of the web browser:
![image](https://user-images.githubusercontent.com/97518014/149389612-df8bebec-6dd6-4492-bef9-e33b51e08aba.png)

[2022-01-14 12:34] hackermd commented on #82
Thanks @Samuelmedex! Looks like your data sets are not compliant with the standard. Specifically, it appears image instances are part of concatenations, but lack required attributes to re-assemble the concatenation source.

[2022-01-14 13:09] Samuelmedex commented on #82
Thanks for your response!
I was indeed thinking of this kind of issues, is there a way to retrive thos attributes? Typically we are using DICOM image from this public Orthanc server : https://wsi.orthanc-server.com/demo/ and we do not have any more information beside the DICOM itself.

[2022-01-31 18:27] fedorov opened #84 "IDC Slim integration regression testing"
We need to define what manual regression testing should be performed for Slim integrated with IDC, what studies/series should be confirmed to work on each IDC release.

This is a document we've been using to drive OHIF Viewer testing: https://docs.google.com/document/d/1l0RP3H6D9OCI3J2YubzFidBszu1NvB9lhUcFflnWNLc/edit, we should have something similar for Slim.

cc: @pgundluru @dclunie

[2022-01-31 18:51] hackermd commented on #84
We should select a diverse set of images with different transfer syntaxes. Even images with the same transfer syntax may be more or less complex due to different codec parameters such as color space, channel subsampling ratios, etc. @dclunie could you help us put together a list of "tricky" images?

[2022-01-31 18:55] fedorov commented on #84
@hackermd @dclunie if you can put together the list of DICOM attributes we should "sample", I can do the queries to come up with the specific representative studies/series

[2022-01-31 19:09] hackermd commented on #84
@fedorov I suggest the following criteria:

- **Transfer Syntax UID**: I am not sure you have that indexed in the database, since it is not part of a Data Set (but rather the File Meta Information). In addition, we may want to consider coding parameters that are not captured by DICOM attributes, but can be found in the header of the JPEG or JPEG 2000 bitstreams. Since @dclunie has performed the co

[2022-01-31 21:13] fedorov commented on #84
@hackermd @dclunie I made a dashboard to explore those aspects, and also include links to the current selection at the study and series level: https://datastudio.google.com/reporting/9c65802e-979b-4965-8b90-3bf4e2bcc32e

[2022-02-01 20:00] fedorov commented on #84
@hackermd thank you for the explanation today that some of the metadata that might be important for defining test instances is hiding in the JPEG header, and is not available in DICOM metadata.

Should we consider extracting those relevant attributes as part of our ETL process, and including them in some auxiliary table to facilitate that aspect of data exploration? We may not even expose those to

[2022-02-01 20:59] hackermd commented on #84
That would probably be a good idea. We could extract the information from the header of the first frame and include it into the table as a JSON string.

[2022-02-01 21:52] fedorov commented on #84
Do you have tools/instructions how to do this? How do we proceed?

Looping in Bill Clifford @bcli4d since - he is handling IDC ETL.

[2022-02-01 22:25] hackermd commented on #84
@bcli4d how have you implemented the IDC ETL? What programming language do you use?

[2022-02-01 22:30] fedorov commented on #84
We can probably experiment with extraction using the tools you have right now Markus in Google Colab, use the result to define the initial regression testing samples, and based on that experience decide how to integrate this into ETL. I don't think we need to modify ETL process yet. I added Bill to get his thoughts to help with planning.

[2022-02-01 22:47] dclunie commented on #84
Since we don't actually know what the problem is, we don't know what J2K bitstream metadata we need - I suggest you hold off until we find a signature for one of the problem cases. It may be sufficient to use information from the SVS TIFF ImageDescription tag, which describes some aspects of the codec used, and I have copied into ImageComments.

[2022-02-01 22:52] fedorov commented on #84
I added ImageComments to the dashboard.

![image](https://user-images.githubusercontent.com/313942/152064938-104caa10-5aa4-4cdb-8be2-2729c5da283e.png)

[2022-02-01 23:34] bcli4d commented on #84
@hackermd: ETL is Python (plus some SQL).

[2022-02-03 21:37] fedorov commented on #84
@hackermd - @pgundluru is in the process of testing the upcoming IDC release. Since we do not have the regression steps, please let us know if we should do anything beyond what we did so far to debug the JPEG2000 issue with 0.4.5.

[2022-02-05 11:20] dclunie commented on #39
@hackermd @Punzo there is an update on this issue at [https://github.com/openlayers/openlayers/issues/12768#issuecomment-1030463105](https://github.com/openlayers/openlayers/issues/12768#issuecomment-1030463105)

[2022-02-07 14:00] Punzo commented on #39
@dclunie @hackermd  this should fix the issue https://github.com/MGHComputationalPathology/dicom-microscopy-viewer/pull/73. It looks like OpenLayer does not accept "zoom" factors (resolutions) in the Grid which are not interger. I will post https://github.com/openlayers/openlayers/issues/12768, they may provide an explanation.

[2022-02-07 16:27] ahocevar commented on #39
OpenLayers does work fine with fractional resolutions, but there are other constraints you should keep in mind. See my explanations in https://github.com/openlayers/openlayers/issues/12768#issuecomment-1031652135.

It looks like someone involved in developing the Dicom Viewer was aware of the underlying problem, because I found this TODO:

https://github.com/MGHComputationalPathology/dicom-microsc

[2022-02-07 17:23] Punzo commented on #39
thanks for the additional info. The TODO was written by us (:

[2022-02-07 18:12] hackermd commented on #39
Thanks for clarification and for your detailed feedback @ahocevar.

It seems there are more fundamental issues with the data, the way we construct the tile grid, or the assumptions that OpenLayers makes. Let's try to take them apart:

1. There may be a difference between the size of the total pixel matrix as specified by the DICOM metadata via attributes `TotalPixelMatrixColumns` and `TotalPixelMa

[2022-02-07 18:49] fedorov opened #85 "User-level error reporting is lacking"
When I get a 404 error, there is nothing that gets communicated to the user in the interface - only in the JS console. I think this should be improved. What do you think @hackermd @Punzo ?

![image](https://user-images.githubusercontent.com/313942/152852320-66c358dd-754e-4d75-b5b8-25259ca75d5d.png)

[2022-02-07 19:00] hackermd commented on #85
Yes, that doesn't seem to be handled correctly and should be improved.

[2022-02-07 19:36] ahocevar commented on #39
This is one part of the problem. If `totalColumns / columns` and `totalRows / rows` don't give you integers, and you assume that the top/left origin is correct (which I would, unless you know that Dicom uses a different corner than top/left), then you have two options to proceed:

1. Use
[code]
   and accept that you're missing a few pixel rows and columns right and below of the last tile row and

[2022-02-07 20:25] hackermd commented on #39
That's correct. In DICOM, the origin is located at the center of the top left pixel.

Just for clarification, Rows and Columns are the same for all tiles in DICOM (per definition). However, some of the pixels in the last tiles may not be considered part of the image and contain padding values. We don't want to show those, which we are trying to achieve via `extent`.

Pixel Spacing in DICOM are in

[2022-02-07 22:21] ahocevar commented on #39
No, it's the same thing - millimeters per pixel in your case.

[2022-02-12 03:59] fedorov commented on #84
@hackermd, following up on the discussion Thu, here's the list of all combinations of SoftwareVersions and TransferSyntaxEncoding for the SM series we have in IDC right now. Let me know if this is what you had in mind, or you want me to give you a list that samples some other attribute.

TransferSyntaxUID,SoftwareVersions_str,slim_url
1.2.840.10008.1.2.4.50,v12.0.15/Sat Nov 20 10:02:55 EST 2021,ht

[2022-02-22 21:16] hackermd commented on #82
Closing this due to inactivity.

[2022-03-07 09:01] vsaase opened #86 "How to convert WSI to DICOM format compatible with this viewer"
Hi,

I tried to convert a .ndpi WSI to dicom with [this library](https://github.com/GoogleCloudPlatform/wsi-to-dicom-converter). The dicom files cannot be loaded with Slim, because they don't contain an OpticalPathSequence, i.e. error in this line: `image.OpticalPathSequence[0].OpticalPathIdentifier`

Then I tried [this library](https://github.com/smujiang/WSI2DICOM) for conversion. The viewer fai

[2022-03-07 16:53] fedorov commented on #86
@vsaase for the WSI data in Imaging Data Commons we have been using PixelMed tools (http://www.pixelmed.com/dicomtoolkit.html). But there is no documentation yet for the conversion process, it all has been done by @dclunie.

Thank you for sharing your experience with the tools you mentioned. We want to understand better their capabilities, but have not yet evaluated them well.

[2022-03-07 17:38] dclunie commented on #86
@vsaase, the specific tool I use is documented at [https://www.dclunie.com/pixelmed/software/javadoc/com/pixelmed/convert/TIFFToDicom.html](https://www.dclunie.com/pixelmed/software/javadoc/com/pixelmed/convert/TIFFToDicom.html).

But it does not support NDPI files, only SVS (which is TIFF), generic TIFF and OME-TIFF.

NDPI file is the Hamamatsu NanoZoomer proprietary format, and though that scann

[2022-03-07 17:52] hackermd commented on #86
@vsaase thanks for your interest in Slim and for reporting the problems your are facing.

Unfortunately, several of the existing converters are not fully conformant with the standard. As @dclunie pointed out the Optical Path Identifier and Image Type attributes are required by the standard. They are also critical for some of the core logic of the viewer and I am reluctant to try to a work around s

[2022-03-15 03:06] fedorov opened #88 "Add support for google analytics"
Currently in IDC, we track the usage of our portal, OHIF Viewer, documentation portal, forum using Google Analytics. Usage tracking and understanding dynamics is important for the project. It would be great to have GA supported in Slim.

[2022-03-15 03:07] fedorov commented on #88
As aside, I no longer have the permissions to assign labels to the issues I create. I was able to do that in the past.

[2022-03-15 12:19] hackermd commented on #88
That seems to be highly specific to the IDC. Maybe something to consider to include in the IDC fork?

[2022-03-15 12:19] hackermd commented on #88
Can you try again?

[2022-03-15 13:05] fedorov commented on #88
Agreed.

[2022-03-15 13:05] #88 closed

[2022-03-16 07:50] DrexlerChao opened #89 "Slim 0.5.0 Service 'app' failed to build"
Dear Sir,

We try to install the latest version 0.5.0.
But we failed to build service 'app' as follow,
![Screenshot from 2022-03-16 15-36-57](https://user-images.githubusercontent.com/27002631/158541188-d1617f2c-065b-499c-b44f-ce6e9d482e31.png)

Did we miss something that cause the error?

[2022-03-16 13:06] hackermd commented on #89
@DrexlerChao could you please try whether #90 fixes the issue?

@cgorman we should probably also build the Docker container during the test workflow.

[2022-03-17 02:36] fedorov commented on #86
@vsaase here's one tool that I used in the past that you can use to modify DICOM metadata: https://support.dcmtk.org/docs/dcmodify.html.

[2022-03-17 02:37] DrexlerChao commented on #89
Hi @hackermd

Thanks for your suggestion to build the Slim docker images successfully.

After _docker-compose up -d_ and connect to http://localhost:8008/
The Slim show the 403 Forbidden as follow,
![Screenshot from 2022-03-17 10-28-53](https://user-images.githubusercontent.com/27002631/158724812-a7f0c221-45cf-436e-8b29-39860cd347fb.png)

The Nginx seems "block" the connection to the Slim.
Any sug

[2022-03-17 02:42] fedorov opened #91 "Slide content obscured by the overview panel"
I cam across an example where the field of view is pretty much the bounding box for the tissue section, and it is impossible to view the part of the specimen that is covered by the overview panel. The sample image to demonstrate this is not yet public in IDC, but when it is released, it will be here: studies/2.25.309938871000010255198523846507883889299/series/1.3.6.1.4.1.5962.99.1.1107168013.12321

[2022-03-17 18:04] #89 closed

[2022-03-17 18:09] hackermd commented on #91
Good point. We should add a button to toggle the overview.

[2022-03-17 20:22] fedorov commented on #84
@hackermd other than checking the URLs above, is there anything else we should do for regression testing of the IDC Slim 0.5.0 instance?

[2022-03-18 01:52] DrexlerChao commented on #89
Hi @hackermd

It works for us.
Thanks for your great help.

[2022-03-25 02:50] #91 closed

[2022-03-25 02:53] hackermd commented on #91
With [version 0.5.1](https://github.com/herrmannlab/slim/releases/tag/v0.5.1), the overview map can be collapsed

![Screen Shot 2022-03-24 at 10 35 13 PM](https://user-images.githubusercontent.com/6855297/160043472-5850192d-d259-44c3-9a78-6e7c3349ec21.png)
![Screen Shot 2022-03-24 at 10 35 21 PM](https://user-images.githubusercontent.com/6855297/160043484-87db065a-7b9b-4515-8d45-93b934e11fbf.png)

[2022-03-27 02:04] j6u commented on #86
Hi Slim team, I am trying to use pixelmed for converting a svs to dicom image.

Do you mind sharing how I can do that?

So far I am doing:
`java -cp pixelmed.jar com.pixelmed.convert.TIFFToDicom slide.json tissue.svs tissue null 1.2.840.10008.5.1.4.1.1.77.1.6`
However I am getting nullexception.

Also I am curious if there are any correctly converted DICOMs that I can use for testing and reference

[2022-03-27 10:54] dclunie commented on #86
@j6u, you also need javax.json-1.0.4.jar (or equivalent) in the class path; this jar is in the lib/additional folder if you are using the dependencies that come with the release; its absence should give a ClassNotFoundException though, not a NullPointerException.

Followup with me directly at [dclunie@dclunie.com](mailto:dclunie@dclunie.com), since this has nothing to do with Slim.

PS. You should

[2022-04-25 11:14] Punzo opened #94 "IDC: Implement WebWorkers in DMV/Slim for decoding and ICC color transformation"
IDC priority: Implement WebWorkers in DMV/Slim for decoding and ICC color transformation

[2022-04-29 13:53] fedorov opened #95 "Color mismatch between slide view and overview view"
This is for an HTAN sample. Overview is yellow, slide is green.

studies/2.25.56219147941526607962658668060030231728/series/1.3.6.1.4.1.5962.99.1.848706586.916152681.1650116181018.3.0

<img width="697" alt="image" src="https://user-images.githubusercontent.com/313942/165958260-22e0622d-768f-4a38-affe-62ec8ab69fb9.png">

[2022-05-03 16:52] fedorov opened #96 "Black square while visualizing specific HTAN study"
2.25.305755249420617670925805518669597959172/series/1.3.6.1.4.1.5962.99.1.847101709.1322509636.1650114576141.3.0

![image](https://user-images.githubusercontent.com/313942/166501389-804651e5-d4bf-4a58-a475-20b5306ea5e6.png)

Changing window etc does not seem to have any effect. Zoom feels "jumpy".

[2022-05-03 16:54] fedorov commented on #96
This one doesn't seem to work either 2.25.253443077977640338251305809014416841249/series/1.3.6.1.4.1.5962.99.1.847223301.1587446896.1650114697733.3.0

[2022-05-04 19:11] fedorov opened #97 "Problems with visualization of a specific TCGA SM series"
Something is wrong with this series, as identified by @bcli4d: https://dev-viewer.canceridc.dev/slim/studies/2.25.68803095896966276583382138924964839274/series/1.3.6.1.4.1.5962.99.1.1163866303.1057408148.1637546438847.2.0

Demo https://www.screencast.com/t/AcD9V8DJ7

@dclunie could this be an issue with the data and not the viewer? It seems like high-res layer is either wrong altogether, or is in

[2022-05-05 13:45] dclunie commented on #97
It is a problem with the data due to conversion - I can reproduce the same problem displaying the DICOM images in QuPath, whereas the source SVS image looks fine.

The conversion logs shows that there was a problem extracting the JPEG tiles from the SVS and updating them with the factored out quantization and compression tables.

I will investigate further and report back, as well as check if any

[2022-05-05 15:35] hackermd commented on #97
Thanks @dclunie for looking into it

[2022-05-05 16:02] dclunie commented on #97
It turns out that Aperio creates some SVS files with no compressed JPEG data in a tile at the end of rows, i.e. the TileByteCount is zero. If this is propagated into the DICOM file as a zero length fragment, the reader won't count it as a frame, since there is not a 1:1 correspondence between fragments and frames.

I have updated the converter to create a valid empty compressed tile when there is

[2022-05-05 16:59] bcli4d commented on #97
@fedorov you are correct. Replacing some instances would be really difficult at this point. The changes ripple through all parts of the version. I recommend that we should pick up any corrections in the next version.

[2022-05-10 15:33] Philbrick opened #98 "Viewer does not support long coding values"
Slim expects concept values to be encoded in the "CodeValue" tag.  Standard indicates "CodeValue" tags should be used for values <= 16 characters and  "LongCodeValue" tag should be used for values which exceed 16 characters. Slim currently throws an exception indicating the value is missing.  Slim should check LongCodeValue if CodeValue is not defined.

[2022-05-11 12:37] hackermd commented on #98
Thank you for reporting the issue @Philbrick.

Unfortunately, this is something we have ignored throughout the application and the underlying libraries.

I would suggest implementing a function for getting the code value:

[code]

We will also have to update the type annotations in [types/dicom-microscopy-viewer/index.ts](https://github.com/herrmannlab/slim/blob/041665c3f1a7fd033c2910fa358ce67a374

[2022-05-12 18:07] hackermd commented on #95
That is a most interesting sample. I can't reproduce the issue with the different colors in the main viewport and the overview viewport. What browser are you using?

However, I discovered a few other interesting details about these images.

According to the metadata this digital slide represents a collection of monochromatic images with three unique optical paths (i.e., three "channels").

The ima

[2022-05-12 21:41] hackermd commented on #96
These image appear in fact to be "empty". I will need to investigate further.

@dclunie could you please also take a look at the original source images?

[2022-05-12 22:29] dclunie commented on #95
If these are HTAN OHSU mIHC images, then yes, I confirmed with Allison Creason at OHSU that these are indeed RGB, originally from SVS, and that they converted them to OME-TIFF and somehow screwed them up in the process. I am trying to convince them to submit SVS instead  so that they also remain compressed), or at least get the conversion right so that the OME-TIFF is RGB no three monochrome chann

[2022-05-13 03:00] fedorov commented on #95
@hackermd I was using Chrome.

[2022-05-13 03:05] hackermd commented on #95
Thanks for confirming @dclunie.

@fedorov I don't think there is anything we can (or should) about that from a viewer perspective.

[2022-05-13 03:08] hackermd commented on #95
Interesting! I was using Firefox, but could not reproduce this behavior in Chrome either.

Since this is a very unusual image, I think we can ignore the behavior.

[2022-05-13 03:08] #95 closed

[2022-05-13 19:56] fedorov commented on #95
Sure, sounds good.

I could not even quickly figure out how to open that same image to test if I can myself reproduce it, given the study/series UID pair.

[2022-05-17 13:59] fedorov opened #99 "Implement meaningful default visualization mode for multichannel images"
As discussed at the IDC team meeting, currently the defaults create a visualization that is not appealing and is mostly black. In absence of the presets available for the given series, some basic heuristic for more attractive default visualization should be added.

We would like to, by default:
1) pre-select first 3-4 channels
2) automatically calculate some window based on min/max for those chann

[2022-05-17 14:18] fedorov opened #100 "Worklist issues/improvements"
- [ ] when I search for HTA12_9, which does exist, and I see it in the worklist, I get error popup "Study search failed"

<img width="376" alt="image" src="https://user-images.githubusercontent.com/313942/168832795-c9263c6b-be30-468f-8779-f8aa894e6e05.png">

<img width="387" alt="image" src="https://user-images.githubusercontent.com/313942/168832883-f2e0fce9-c402-409a-a340-c07e8181503c.png">

- [

[2022-05-17 14:22] fedorov commented on #96
Every single multichannel one I tried that have HTA12 appear to have this issue.

[2022-05-17 14:38] fedorov opened #101 "Overview view isunnecessarily large"
I was not sure if this is a bug or intended behavior

<img width="1225" alt="image" src="https://user-images.githubusercontent.com/313942/168837865-90d4e483-c724-4526-b642-86260696c3d8.png">

[2022-05-17 17:31] hackermd commented on #100
I think that's an issue of the Google Healthcare API related to the implementation of QIDO-RS. Some of the attributes are not searchable, although they should be according to the standard. We have already reported the issue to Google.

[2022-05-17 18:11] hackermd commented on #96
These images have a very low dynamic range (shown here using the UI of the the latest dev version):

![Screen Shot 2022-05-17 at 2 08 46 PM](https://user-images.githubusercontent.com/6855297/168881019-f03b6048-c53d-459f-b3f2-134e8a2ea25a.png)

With the improved display setting interface (will become available in 0.6.0), it will be easier to set the value of interest window.

However, these images

[2022-05-17 18:13] hackermd commented on #101
Choosing an appropriate size for the overview is surprisingly difficult. We can try to further improve it, but I wouldn't consider this a priority because the overview can now be toggled.

[2022-05-17 18:13] hackermd commented on #101
What do you think @fedorov re priority?

[2022-05-17 18:14] fedorov commented on #101
We only have one IDC label, so I don't have a choice re priority. I agree it is not a priority, I just wanted to note it since I noticed the issue.

[2022-05-17 18:14] fedorov commented on #100
What about the second item in the issue?

[2022-05-17 18:17] fedorov commented on #96
So is it the plan to initialize those settings automatically to some meaningful values?

Otherwise I am not sure what is the sequence of steps for the user to discover how to populate those settings. I understand it might be difficult since you don't know the entire image range, but even initializing based on the range observed in the data already fetched would be so much better than the current b

[2022-05-17 18:52] hackermd commented on #96
To me, these are two related, but separate issues. #99 is about improving the default display settings and choosing other (more "meaningful") limit values. This issue is about the images having very low values.

I will close this issue, since the problem is the data. We can continue the conversation regarding default display settings on #99.

[2022-05-17 18:52] #96 closed

[2022-05-25 17:46] hackermd commented on #99
The major difficulty is that we have to prefetch the image pixel data to compute statistics (e.g., min/max) on the pixel values and dynamically set the value of interest range (limits of the window) **before** we render/display the pixel data.

Another complication is that there may not always be a single THUMBNAIL image. In that case, we may have to load a potentially large number of tiles into m

[2022-05-25 17:53] pieper commented on #99
Agreed, this is not great, but as I recall we discussed this during our call and agreed that it's likely to only take a fraction of a second and either delaying the first render, or rendering first in black and then flashing to a better display within a short time would be acceptable.

[2022-05-25 17:56] hackermd commented on #99
It will depend on the network bandwidth (which we throttle in IDC) and other factors such as the compression codec.

[2022-05-25 17:59] hackermd commented on #99
If we don't communicate the rendering intent via the image metadata or a separate presentation state, then we will have to accept some rendering delays/complications. We will see whether those negatively impact the viewing experience in practice.

[2022-05-25 18:03] fedorov commented on #99
I thought we discussed that @Punzo would develop a prototype, we would evaluate performance impact, and then decide on the next steps?

[2022-05-25 18:40] Punzo commented on #99
yes, but I will wait the merge of the webWorker PR (https://github.com/herrmannlab/slim/issues/99#issuecomment-1137655414), because the fetching logic changes a lot, and it will not make sense to develop a prototype twice

[2022-05-25 18:41] fedorov commented on #99
Thanks for bringing this up Davide!

[2022-05-27 16:56] Punzo commented on #99
Events Infrastructure for the task implemented for DMV in https://github.com/herrmannlab/dicom-microscopy-viewer/pull/78 togheter with the webWorkers. Markus will add the calculations directly in SLIM and create a new release with this and the webWorker infrastructure.

[2022-05-27 22:22] hackermd commented on #99
We have "successfully" implemented the feature.

Here is an example:

![Screen Shot 2022-05-27 at 6 17 08 PM](https://user-images.githubusercontent.com/6855297/170795716-8b6daf12-94ae-40d6-8790-f1e7f0690014.png)

The first three channels are selected and pseudo-colored: blue, green, and red.
The limits of the value of interest (window) for each channel is set to the min/max values of the THUMBNAIL

[2022-05-29 04:03] fedorov commented on #99
@pieper @dclunie do you have any suggestions on improving the heuristic?

@hackermd Can you confirm that calculating the histogram is not feasible? How much time would you need to create presentation state objects that would store channel configuration presets?

The way things are evolving, the lack of meaningful visualization of those multichannel images may become the main roadblock for releasin

[2022-05-29 09:06] dclunie commented on #99
Thanks for doing the experiment.

I assume that the black result in the screenshot was meant to imply that this experiment was not actually "successful" after all.

@hackermd (or @punzo) can you explain why?

Is this because you can't find sufficiently small images to run the statistics, or the default channel selection is unhelpful, or the statistics don't produce a good window?
- If it was due t

[2022-06-01 01:28] hackermd opened #104 "Focus of text boxes in worklist table"
Originally reported by @fedorov in #100:

[2022-06-01 01:30] hackermd commented on #100
@fedorov I have converted the second item into a separate issue to facilitate tracking.

Will close this item, because there is currently nothing we can do about the first item. We have already reported the compliance issue of the Cloud Healthcare API to Google.

[2022-06-01 01:30] #100 closed

[2022-06-01 01:35] hackermd commented on #104
I briefly looked into it, but it appears to be a limitation of the underlying component library. I agree this is not optimal, but I think we currently have other issues of higher priority. For the time being, we won't fix this. I will leave the issue open and we can revisit it in the future.

[2022-06-01 01:36] #86 closed

[2022-06-01 01:41] #79 closed

[2022-06-01 01:41] hackermd commented on #79
This feature is available since version 0.5.0

[2022-06-01 02:35] hackermd commented on #99
As I mentioned previously, finding "optimal" or visually pleasing default window limit values can get complex.

We could try to further improve the display setting by computing different statistics (e.g., 0.1 and 0.9 percentiles instead of min and max). However, I am reluctant to add more complexity to the viewer for two reasons: First, because it may have a negative impact on viewing performance.

[2022-06-01 02:51] #12 closed

[2022-06-01 02:51] #30 closed

[2022-06-01 02:51] #77 closed

[2022-06-01 02:51] #81 closed

[2022-06-01 02:51] #94 closed

[2022-06-01 02:51] #99 closed

[2022-06-03 19:09] fedorov opened #106 "Retry in case of a 404 error"
Follow up on https://discourse.canceridc.dev/t/cant-visualize-cptac-pathology-image/281/10

I think we should (and I believe we did this for OHIF already, so Slim should be consistent).

cc: @wlongabaugh

[2022-06-03 19:31] fedorov commented on #106
From @wlongabaugh:

[2022-06-03 19:33] wlongabaugh commented on #106
I don't see what that achieves. Retry for 500-class errors is crucial, but e.g. a 404 (object not found) is not going to change on a retry against a static web resource.

[2022-06-03 22:41] hackermd commented on #106
A 404 is strictly speaking a client error, because the client requests a resource that the server couldn't find. However, in our particular case of the single-page application, it appears that the server doesn't return a requested resource that does (or should) exist.

Either way, I agree that we should handle these errors and retry.

[2022-06-03 23:43] wlongabaugh commented on #106
OK, I will agree that graceful handling and UI notification of 404s errors where something is missing but which _should_ be there based on expectations derived from e.g. metadata makes sense, but asking the server again after a 404 is a waste if the resources are static. The answer will never change.

Not sure if there is graceful handling of 429 errors yet? Viewer might get that if daily quota is

[2022-06-04 15:05] hackermd commented on #106
We have an error handler and an error page (see [here](https://github.com/herrmannlab/slim/blob/dac6bc0120b2676846c62bb4c7cb375ccffab49b/src/App.tsx#L264-L267)), but we currently only handle DICOMweb errors. We should extend that logic to web server errors.

[2022-06-04 15:13] hackermd commented on #106
To me the question is whether the status code of the response is actually correct, i.e., whether the server should response indeed with a 404 status code. It appears that there are situations where the single-page application is requesting resources that are specified in the `index.html` file and really should be there (e.g., JS bundle files), but the web server claims they do not exist and respon

[2022-06-15 18:22] fedorov opened #107 "Handle browser incompatibility gracefully"
The app should be more robust in identifying situations where user browser is not compatible. As a specific example, it turns out there still users that have 32-bit Chrome, which does not work with IDC pathology data (I do not know if it doesn't work at all, or doesn't work with some images) - see details in https://discourse.canceridc.dev/t/cant-visualize-cptac-pathology-image/281. Is this someth

[2022-06-16 13:36] fedorov commented on #107
Related links found during the call today:
* https://stackoverflow.com/questions/1741933/detect-64-bit-or-32-bit-windows-from-user-agent-or-javascript
* https://github.com/bestiejs/platform.js/
* https://stackoverflow.com/questions/50515512/detecting-whether-browser-is-32-or-64-bit-with-javascript

As pointed out today, it may be better and more feasible to catch the error in buffer allocation tha

[2022-06-16 14:05] Punzo commented on #107
ok working on it

[2022-06-17 07:17] Punzo commented on #107
@fedorov the issue is at the WASM level (the codecs)

Specifically in
https://viewer.imaging.datacommons.cancer.gov/slim/studies/2.25.25148242785680290844136875845052620468/series/1.3.6.1.4.1.5962.99.1.134619657.2139837279.1640812159497.2.0

the viewer will use libjpegturbowasm

![image](https://user-images.githubusercontent.com/7985338/174240575-56c125dd-a9bc-476b-9bb1-94b9f643cbb3.png)

which fa

[2022-06-17 12:14] pieper commented on #107
Unfortunately our customer (NIH users) do run into this issue so it's a priority to handle it gracefully 😄

We can't rely on people looking for documentation.  We need to catch the memory allocation error and provide a meaningful message.

[2022-06-20 12:17] dclunie opened #108 "Slides are not sorted alphabetically by ContainerIdentifier in left handle panel"
Appear to be in random order, where as alpha sort would be useful.

E.g., "https://slim-idc-htan-dot-idc-external-006.uc.r.appspot.com/studies/2.25.38649134330414220812979591492650088495/series/1.3.6.1.4.1.5962.99.1.847609172.1004632042.1650115083604.3.0"

[2022-06-20 12:19] dclunie opened #109 "Would be useful to display ClinicalTrialProtocolID for Patient (Subject) in viewer"
Since this is populated with the collection name in IDC converted WSI, and is otherwise hard to figure out

[2022-06-20 12:20] hackermd commented on #109
Yes, I have been thinking of exposing all clinical trial information at the patient and study level.

[2022-06-20 12:22] dclunie opened #110 "Show THUMBNAIL or single frame VOLUME image in slide tray when there is no OVERVIEW"
If there is not OVERVIEW (SVS macro) image to display in the left hand slide tray, the THUMBNAIL would be better than nothing, since it conveys the impression of what is on the slide and how it is stained.

[2022-06-20 12:25] dclunie opened #111 "Add DICOM "header" (metadata) browser to UI"
To be able to inspect values of DICOM attributes that are not already displayed as text in the viewer UI, or to figure out where the displayed values come from.

Begs the question of for which of the several DICOM images used to produce the UI should be inspected - probably best to default to one but give the user the choice of a different one.

Could model the behavior after the OHIF viewer, whic

[2022-06-20 12:30] hackermd commented on #111
I have thought about this for a while, but the metadata is potentially quite large (many instances and a very large number of per-frame functional groups sequence items). As a compromise, we have so far printed the metadata into the JavaScript console. Creating a UI component will require a bit of thought and work.

[2022-06-20 12:33] hackermd commented on #110
I have so far refrained form doing that because it can get quite complex. Note that there may neither be a THUMBNAIL image nor a single-frame VOLUME image. Also, what would one show in case of a multi-channel immunofluorescence image?

For the IDC, if we want to show an "overview" image, I would suggest we create an OVERVIEW image rather than adding potentially very complex logic to the viewer.

[2022-06-20 13:43] hackermd commented on #107
I agree that it would be nice to handle such errors gracefully. However, that will not always be straight forward. I wonder whether we could instead check for resource requirements (available memory, browser version, operating system version, etc.) upon instantiation of the app and route to an error page if a requirement is not met.

[2022-06-20 18:42] hackermd commented on #107
If our primary goal is to work around issues with NIH computer configurations in the context of the IDC, we could add a specific check into the source code of the IDC fork.

[2022-06-20 18:44] hackermd commented on #107
However, I think there would be value in trying to reduce the memory footprint, since this may become an issue in other environments (e.g., mobile).

[2022-06-20 18:47] pieper commented on #107
We can discuss with Andrey, perhaps during tomorrow's IDC meeting.  Yes, doing something specific to patch the NIH user use-case may be the best tradeoff of time and effort.  If IDC can't fund a more general solution then this specific use case may be easier to fix instead (if we can find a simple solution).

[2022-06-20 18:47] hackermd commented on #108
We currently sort by Series Number. We could readily change that and sort by Container Identifier instead.

[2022-06-20 18:50] pieper commented on #107
BTW, @hackermd I am in complete agreement with keeping the viewer clean and free of special case code.  At the same time putting too much logic in a fork is not good either (chance for divergence, merge conflicts, etc).  So you might consider adding a hook for extensions so that IDC wouldn't keep it's logic in a fork but rather in a self-contained library that it adds in at build time or even run

[2022-06-20 18:57] hackermd commented on #107
@pieper I don't want to commit to an extension framework or provide backwards compatibility guarantees for libraries (yet). Since we already maintain a fork with IDC-specific changes, I would prefer adding this very IDC-specific check or error handling logic to the fork.

[2022-06-20 21:29] dclunie commented on #109
I would follow the information model in the standard unless there is a good reason note to [http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_7.6.html](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_7.6.html)

[2022-06-21 00:06] dclunie commented on #108
Series Number is always 1 for our images, so Container Identifier would be better (or Series Number then Container Number).

[2022-06-21 13:58] fedorov commented on #107
I don't think we need this to work around issues with NIH computers per se. What we identified is that a large organization with important users is still using legacy browser. If this is happening at NCI, it can be the case at NHLBI, NIBIB, FDA, large hospitals, and other organizations with complex corporate IT infrastructure. This actually brought memories when at one point I was involved in a pr

[2022-06-21 14:20] hackermd commented on #108
Why is Series Number always 1? Shouldn't every digital slide correspond to one or more series, each having a unique Series Number?

[2022-06-21 15:14] dclunie commented on #108
Ideally, but I didn't implement it in the conversion scripts and hadn't noticed it until you mentioned it.

[2022-06-21 15:59] hackermd commented on #108
I have personally found it difficult to assign values to Series Number reliably, especially for derived information, because they may be generated in parallel by independent systems. It's unclear to me what unique guarantees the standard provides for values of Series Number (if any?). We should probably avoid relying on Series Number in the viewer. Since it's a type 2 attribute, we may even want t

[2022-06-22 03:57] #109 closed

[2022-06-22 03:57] #108 closed

[2022-06-30 16:53] hackermd opened #115 "Select presentation state by default"
Currently, Slim will provide a drop down menu with available presentation state instance, but won't apply one by default. It would be desirable to select one of the available presentation states.

[2022-06-30 17:16] hackermd opened #116 "Improve handling of digital slides with images that have different frame of references"
Currently, Slim fails if images are passed to the Slide Viewer that have different values for Frame of Reference UID. This should be handled more gracefully. While all VOLUME and THUMBNAIL images shall have the same Frame of Reference UID, there may be situations where LABEL or OVERVIEW images may have a different Frame of Reference. Instead of raising an error we may just want to issue a warning

[2022-06-30 17:18] hackermd opened #117 "Indicate when image tiles are being loaded"
It would be useful to have an indicator (e.g., a different cursor) to let the user know that data is still be loaded.

[2022-06-30 19:56] dclunie commented on #116
Partially replicated from "http://github.com/ImagingDataCommons/IDC-ProjectManagement/issues/1253" ...

With a view to future improvements that provide the user with a better experience and displays more valid data  ...

AcquisitionUID was specifically added to deal with the need to describe a bunch of related stuff that was related to "a single continuous gathering of data" (including a scan of a

[2022-06-30 20:36] hackermd commented on #116
@dclunie I implemented the logic you outlined:

<img width="1510" alt="Screen Shot 2022-06-30 at 4 34 47 PM" src="https://user-images.githubusercontent.com/6855297/176773589-02f555d3-c8b8-4ad5-9df3-fb91a5381ef9.png">

It looks like the LABEL image has an incorrect Image Orientation (Slide).

[2022-06-30 20:36] Punzo commented on #116
I think when we were designing the slides grouping, we decided to use the Frame of Reference UID, because the data were missing the Acquisition UID (at least the VOLUME type).

[2022-06-30 20:59] dclunie commented on #116
I agree about the incorrect ImageOrientationSlide for the LABEL - there is nothing in the SVS file to say what this should be, so I think in future I should just hardwire it differently so that those we have actually encountered rotate so that they are readable.

[2022-07-01 11:35] #116 closed

[2022-07-01 11:35] #115 closed

[2022-07-01 11:55] hackermd commented on #116
Based on @dclunie's recommendation, the logic of Slim for assigning SM image instances to *digital slides* is now as follows:

- VOLUME and THUMBNAIL images are grouped by ContainerIdentifier, FrameOfReferenceUID, and AcquistionUID (if available). This group of images constitutes a *digital slide*.
- If there is only one LABEL image, it is assigned to the digital slide. Otherwise, a LABEL image is

[2022-07-01 13:32] dclunie commented on #116
@hackermd, thanks for taking care of this so quickly.

[2022-07-01 13:58] fedorov commented on #116
Thank you Markus indeed. I hate to ask you about this, but now we need to update slim in that sandbox deploy that we have for our pre-v10 staging area.

[2022-07-01 14:26] hackermd commented on #116
Thanks for your help!

[2022-07-01 14:26] hackermd commented on #116
Yes, I will draft a new release and update the dev app.

[2022-07-01 15:29] hackermd commented on #117
@fedorov @dclunie we can make the cursor look nicer moving forward, but I think the changes provide the functionality you were looking for. Let me know what you think.

[2022-07-01 15:40] dclunie commented on #117
Exactly what I was looking for, thanks.

[2022-07-01 15:54] #117 closed

[2022-07-05 21:05] hackermd opened #121 "Handle authorization errors"
Slim uses OIDC to authenticate users and authorize the application to access a DICOM store on behalf of the user. The authentication and authorization may be handled by two separate systems (identity and authorization provider) and there may be situations, where a user is able to successfully authenticate but then doesn't have permissions to access the DICOM store such that the application fails t

[2022-08-23 16:14] pieper opened #122 "Blank screen with HTAN data"
The interface shows for a bit and then the browser goes blank.

https://viewer.imaging.datacommons.cancer.gov/slim/studies/2.25.174442227011591161839224535127252003551/series/1.3.6.1.4.1.5962.99.1.2352175091.700331458.1655914616819.4.0

This message shows up in the developer console:
[code]

Desired behavior would be at least an error message to the user and graceful handling.  Even better would b

[2022-08-23 20:20] hackermd commented on #122
Thanks @pieper for reporting the issue. We will need to investigate whether there is a problem with the data. However, I agree that the error handling will also need to be improved.

[2022-08-25 02:25] DrexlerChao opened #123 "About Z-Stacking Microscopy"
Hi Sir,

Z-stacking involves scanning a glass slide at different focal planes along the vertical z-axis and stacking the images on top of each other to produce a composite multiplane image.
Z-stacks can be merged to create a detailed 3 dimensional representation of the sample.

Some WSI scanners that offer z-stacking capability. For example, 3DHistech, Hamamatsu, Leica, etc.

We are not sure if Sl

[2022-08-26 12:03] hackermd commented on #123
Thank you for creating the issue @DrexlerChao.

The Slim application and the underlying dicom-microscopy-viewer library (see https://github.com/herrmannlab/dicom-microscopy-viewer/issues/80) do currently not support interactive visualization of images with multiple focal planes (z-stacks).

I just tested it in Slim with a 3DHistech image. It resulted in an error message `"Images with multiple foca

[2022-08-26 12:22] hackermd commented on #122
Errors that are thrown upon parsing of the data are difficult to catch/handle, because they happen deep in the library. It may be cleanest to introduce an error handler callback that allows the library to include a detailed message for known data issues that is explicitly intended for display to the user.

[2022-08-28 14:55] DrexlerChao commented on #123
Hi @hackermd,

Thanks for your clearly explanation.
We are looking forward the Slim application and the dicom-microscopy-viewer library support z-stacks image in the future.

With sincere appreciation.

[2022-08-31 22:14] fedorov commented on #122
@hackermd since this is affecting IDC production viewer, it is a priority for IDC to at least know what is going on here. What can we do to expedite investigation of this issue?

[2022-08-31 22:38] fedorov commented on #122
cc: @Punzo

[2022-08-31 23:28] Punzo commented on #122
In general we need to improve the error handler in Slim.

I see 3 current issues regarding error handling

https://github.com/herrmannlab/slim/issues/106
https://github.com/herrmannlab/slim/issues/122
https://github.com/herrmannlab/slim/issues/123

We can talk the various specifics tomorrow, but in general error handler should not block the viewer. In addition, the error logger service should alwa

[2022-08-31 23:36] Punzo commented on #122
Regarding this issue: simply optical paths with different geometrical (e.g. orientation, spacing, etc) properties are not supported. We could add a registration phase, but it would be very expensive client side. Or it could be that simply the metadata are wrong, but then the viewer can't work if we can't trust the metadata.

[2022-09-01 00:06] hackermd commented on #122
@fedorov I have started to work on improving the error handling. As stated above, the viewer should definitely handle such errors more gracefully. Providing a meaningful error message to the user that contains the right level of detail will require some thought and development work.

To fix the underlying issue, we will also need to investigate the data, because the issue is most likely due to a p

[2022-09-01 03:17] fedorov commented on #122
Thank you @hackermd and @Punzo - let's wait to hear from David. To me, it makes sense to add some logic to the converter to detect this kind of issues at the time of conversion.

[2022-09-01 04:01] hackermd commented on #122
I agree @fedorov. Ideally, we would avoid these issues upon conversion. At the same time, we want the viewer to be as robust as possible and at least handle such errors gracefully.

[2022-09-01 11:27] dclunie commented on #122
Interesting - not sure why there is a 0.002 % difference between the pixel spacing values in the first place - I will look into this.

That said, it might be better if the viewer didn't try to compare floating point values exactly, as opposed to within a specified tolerance:

http://randomascii.wordpress.com/2012/02/25/comparing-floating-point-numbers-2012-edition/

[2022-09-01 12:18] Punzo commented on #122
the current eps tolerance is 1.e-6. We could make it less strict if needed.

https://github.com/herrmannlab/dicom-microscopy-viewer/blob/b8393862f3d23f7f3c750505b36873dba4e46a0f/src/utils.js#L421

[2022-09-01 13:06] fedorov commented on #122
Related to https://github.com/OHIF/Viewers/issues/2869

[2022-09-01 14:03] dclunie commented on #122
Perhaps a percentage rather than an absolute value might be better

[2022-09-01 14:26] hackermd commented on #122
@dclunie as @Punzo pointed out, we already use a tolerance for comparing floating-point values. We could choose a different tolerance (considering that many values are in millimeter unit and we need high precision). However, I don't think this issue is merely a problem with floating-point arithmetic. I tend argue that if images are supposed to have the same pyramid structure (and especially if the

[2022-09-01 14:36] dclunie commented on #122
I completely agree, and I will look into why it is occurring.

Practical experience with radiology 3D data over the years suggests though that having too small an epsilon causes problems. Since the viewer is not being used as a quality control tool, making it too demanding doesn't really help anyone, though in this case if it had just worked, we wouldn't have noticed the problem in the data.

[2022-09-01 15:09] hackermd commented on #122
Fully agreed! We will need to find the right balance between being strict enough for the app to function properly (including not introducing significant errors with spatial coordinates when creating annotations) and being tolerant enough not to just abort for every small inconsistency in the data. We wanted to be very strict by default to be on the safe side.

As discussed during the IDC earlier t

[2022-09-01 16:57] hackermd opened #124 "Out of memory error with Chrome and Edge based on Chromion on Windows 10"
We have received reports of browsers running out of memory. The problem appears to be limited to the Chrome browser (or Edge based on Chromium) on Windows. I was not able to reproduce any of the errors with Chrome on MacOS.

It appears that the amount of allocated memory is different between operating systems (see [Chrome docs](https://chromium.googlesource.com/chromium/src/+/main/docs/memory/oom.

[2022-09-02 12:54] hackermd commented on #124
@Punzo it appears that the issue is related to web workers. The problem appears to be restricted to Chromium-based browsers and has only been reported for Windows 10. Could you help debug the issue?

It appears unlikely that the issue is related to the `tilesCacheSize`. The app crashes immediately after the page is loaded at a time when only a few tiles have been loaded/cached.

It could have to d

[2022-09-02 13:28] hackermd commented on #124
Potentially relevant: https://stackoverflow.com/questions/35003676/web-worker-consumes-massive-amount-of-memory

[2022-09-02 15:00] hackermd commented on #124
Thanks @Punzo. I can make that change.

[2022-09-02 15:02] hackermd commented on #124
@fedorov I wonder what may be a good way for us to test this in a (semi)automated way. Unfortunately, I don't always have access to a Windows computer and I imagine that hardware specifics may be difficult to test in virtual environments.

[2022-09-02 15:58] fedorov commented on #124
Poojitha has access to a windows machine. If this is reproducible with a dataset in IDC, I can ask her to help - let me know.

[2022-09-02 16:18] hackermd commented on #124
It would be great if Poojitha could help us replicate the issue, track down the underlying cause, and test whether a lower number of workers solves the problem. The number of workers can be set via the browser devtools as described [here](https://developer.chrome.com/blog/new-in-devtools-104/#simulate.).

So far, we have encountered the issue only on computers with Windows 10 operating system and

[2022-09-02 16:30] fedorov commented on #124
@pgundluru can you help with this please? Markus can point you to some datasets in IDC where this issue is more likely to appear. I know you are busy with v11 testing right now, but maybe you can spend some time on this after that?

[2022-09-02 18:28] pgundluru commented on #124
@fedorov Yes, I can help with reproducing this issue on W10 chrome and edge version. @hackermd Do you have access to the datasets that this was initially observed in so I can take a look?

[2022-09-02 18:59] hackermd commented on #124
Thank you @pgundluru. That would be great.

I don't know exactly which images trigger the issue. One person encountered the issue using the following link: https://herrmannlab.github.io/slim/studies/2.25.18199272949575141157802058345697568861/series/1.3.6.1.4.1.5962.99.1.3510881361.982628633.1635598486609.2.0.

[2022-09-03 13:00] Punzo commented on #124
I could reproduce it in windows, when the web worker manager instantiates the 8th/9th worker (index 7,8, the counting starts from index 0):

![image](https://user-images.githubusercontent.com/7985338/188271331-e52a5303-36bb-4680-a32d-4be927b7caa5.png)
P.S.: my CPU is an i9 so it has in default 20 threads.

By setting the hardware concurrency to 7.

![image](https://user-images.githubusercontent.co

[2022-09-03 14:59] hackermd commented on #124
Thanks a lot for testing @Punzo. I have meanwhile introduced the change you suggested. Available since [v0.42.0](https://github.com/herrmannlab/dicom-microscopy-viewer/releases/tag/v0.42.0).

[2022-09-03 14:59] #124 closed

[2022-09-03 15:22] Punzo commented on #124
perfect @fedorov I have updated IDC fork as well https://github.com/ImagingDataCommons/slim/pull/70 and Docs are ready to be merged https://github.com/ImagingDataCommons/IDC-Docs/pull/45

[2022-09-09 17:00] waynewccheng opened #125 "Green dot left after GoTo"
A green dot was left behind after using the Go-To feature

[2022-09-09 21:26] hackermd commented on #125
Thanks for your feedback @waynewccheng. Could you kindly elaborate a bit on the issue that you are experiencing?

The go-to tool is expected to create a "ROI" with graphic type POINT.

Here is an example from our public demo at https://herrmannlab.github.io/slim:

<img width="1512" alt="Screen Shot 2022-09-09 at 5 24 04 PM" src="https://user-images.githubusercontent.com/6855297/189447992-4c1e4b66-

[2022-09-09 21:41] waynewccheng commented on #125
Thanks for the explanation. I didn't know that the POINT is intended. I thought the go-to tool was a numerical pan, and the POINT would disappear for taking a clean screenshot of the ROI.

[2022-09-09 21:41] #125 closed

[2022-09-09 21:46] waynewccheng opened #126 "Coordinate over minimap"
Consider showing relative X-Y coordinate when the cursor is on the thumbnail image.

[2022-09-10 13:29] hackermd commented on #125
We've been using the go-to tool also to focus on specific anatomical or morphological structures. If a structure is small (e.g., an individual cell) it may be difficult to identify without a marker. In addition, the go-to tool can be used as an annotation tool to mark structures and potentially later revisit or save the coordinates.

If that behavior is surprising or annoying, we could make the dr

[2022-09-10 13:38] hackermd commented on #126
That's a great idea. It will require some thought to implement, because we need to make sure that the coordinates on the lowest resolution image (which is displayed on the overview map) are translated correctly to highest resolution image (on which the coordinates of the main map are based).

[2022-09-13 19:00] hackermd commented on #122
@dclunie I've started to refactor the code to provide a tolerance for the values of the Pixel Spacing and the Y/X Offset in Slide Coordinate System attributes. Now, I am wondering what tolerance we should use and realized that there are some complications.

The offset of the images in the slide coordinate system should generally be the same, but since the offset is (or shall be) specified with res

[2022-10-26 18:23] VenkatPrema opened #130 "Getting 404 console error when I open pathology images"
Test Site: **ISB CGC test tier**

When I open the pathology images, No ICC profile was found for color images message appeared before loading the images.
And getting 404 console error.

![image](https://user-images.githubusercontent.com/106698935/198105728-6770f47c-fee1-4520-a0fd-9f69451f8c8a.png)

![image](https://user-images.githubusercontent.com/106698935/198105764-5b0b6763-e0ec-4f43-9210-7596a

[2022-10-27 12:46] hackermd commented on #130
Thank you for reporting the issue @VenkatPrema.

This is expected. Unfortunately, the Google Cloud Healthcare API currently doesn't provide access to ICC profiles via DICOMweb. This warning is issued to inform the user that color may not be reproducible.

I cannot reproduce this error. Do you know which HTTP request resulted in a response with this status code?

[2022-10-27 14:40] VenkatPrema commented on #130
@hackermd
**From Network tab:**
Request Method: GET
Status Code: 404

![image](https://user-images.githubusercontent.com/106698935/198318728-3dca7927-b095-41e1-98f0-440bd6647eda.png)

[Network Response .txt](https://github.com/herrmannlab/slim/files/9880406/Network.Response.txt)

[2022-11-11 19:40] Steven-N-Hart opened #131 "docker-compose deployment bug?"
Docker was able to successfully build each image successfully using `docker-compose up -d` [with no errors or warnings]. The slim viewer is also displayed at `localhost:8008`. However, a modal appears saying: `An error occurred. Search for studies failed`.  I suspect this has something to do with the dcm4chee instance, since when I try to run a query:

`dicomweb_client -vvvvv --url http://localhos

[2022-11-11 20:35] hackermd commented on #131
@Steven-N-Hart thanks for reporting the issue. I am not sure what's going on. Did you take a look at the dcm4chee application server log? Unfortunately, dcm4chee doesn't redirect log messages to stderr, so one needs to read the log file in the container:

[code]

That should reveal the source of the problem.

[2022-11-11 20:39] Steven-N-Hart commented on #131
Thanks.  I don't know why it was erroring out before, but I re-downloaded everything and I'm good to go.

[2022-11-11 20:39] #131 closed

[2022-11-14 04:45] selvesandev opened #132 "dmv.viewer.VolumeImageViewer not rendering canvas to the DOM (DICOM microscopy viewer not being displayed)"
Hello,

We are trying to integrate `dcom-microscopy-viewer` into our web portal. He've followed the slim example to do so. we have been able to performa a `searchForStudies` and extract the response to display the DICOM information in a list.

However when we are trying to render the DICOM file in the detail (viewer) screen. The page is just blank and nothing is displayed and also there are no err

[2022-11-16 19:40] #132 closed

[2022-11-17 13:32] hackermd commented on #132
@selvesandev thanks for your interest in the viewer library and for reporting the issue. Were you able to fix the problem?

[2022-11-17 19:11] Gibbsdavidl opened #133 "Cannot zoom on HTAN image"
I'm on Win10 and I've tried firefox and chrome.  Not able to zoom this image from HTAN.

https://viewer.imaging.datacommons.cancer.gov/slim/studies/2.25.162372274059988388010059723761949093273/series/1.3.6.1.4.1.5962.99.1.1997692069.2085034692.1655560133797.4.0?state=1.2.826.0.1.3680043.10.511.3.54275603117136698447923120717746116

[2022-11-18 14:20] hackermd commented on #133
Thanks for reporting the issue @Gibbsdavidl. This slide appears to have only one resolution level so the behavior is expected.

[2022-11-18 14:20] #133 closed

[2022-11-20 14:38] selvesandev commented on #132
Hi @hackermd Yes I got the issue resolved. But the solution was quite weird :D

we are not using the `antd` library in our portal and hence I eliminated the <Layout> tags that was wrapping the <ParametrizedCaseViewer>. This was the reason why the canvas was not being rendered.

And after I got the html elements back the canvas got rendered itself. Not sure what is the catch here 😄

<img width="796

[2022-11-22 19:17] jim-bo opened #135 "google cloud token auth"
For development purposes I'd like to be able to run the application with a manually generated authentication token for requests against the Google Healthcare API. I was wondering if this style authentication is compatible with slim and if you had any advice, or examples of how I could create a new AuthManager to support static token auth? Do I get need the "getAuthorization" function implemented,

[2022-11-22 20:27] hackermd commented on #135
@jim-bo Thank you for your interest in Slim.

Our recommended approach is to use OIDC-based authentication and authorization when working with the Google Healthcare API (see [README](https://github.com/herrmannlab/slim#google-cloud-platform)) or other access controlled DICOMweb servers.

For local development, you could in principle pass the authentication token directly to the constructor of `DIC